	<div class="fotoperfil-detail">
		<img src="/perfil/foto?uid=$usuario.id" width="80" alt="sin imagen">
	</div>
	
	<div class="perfil-detail">
		<a href="/perfil?uid=$usuario.id"><h3>$usuario.nombreCompleto</h3></a>
		<p class="title"><a style="cursor:text;color:#666666;">$!usuario.titulo</a></p>
		<a style="cursor:text;"><h4>$totalContactos contactos</h4></a>
	</div> 
	
	<div class="box-detail" >
		<a href="/perfil/enviarMensaje?uid=$usuario.id" id="enviar-mensaje-contacto" class="messageBox sendMessage" >Enviar mensaje</a><br>
	</div>
	
	<div class="box-detail">
		<p class="title" style="font-weight: bold;">Trabajo Actual:</p>
		<h4 style="float:left;">
			<a href="#">
				#if($usuario.laboralActual.cargo)
					$!usuario.laboralActual.cargo en $!usuario.laboralActual.sucursalEmpresa.empresa.nombre
				#else
					Sin Informaci&oacute;n
				#end
			</a>
		</h4>
	</div>

	<div class="box-detail">
		<p class="title" style="font-weight:bold;">Comuna:</p>
		<h4 style="float:left;"><a href="#">$usuario.comuna.nombre</a></h4>
	</div>
	
	<div class="box-detail">
		<p class="title" style="font-weight:bold;">Correo Electr&oacute;nico:</p>
		#if($!user.email)
			<a style="cursor:text;float:left;">$!user.email </a>
			<h4 style="margin-left:10px;float:left;">(Principal)</h4>
		#else Sin Informacion
		#end
	</div>

	<div class="box-detail">
		<p class="title" style="font-weight: bold;">Tel&eacute;fono:</p>
		<a style="cursor:text;float:left;">056 - $!user.telefono</a>
		<h4 style="margin-left:10px;float:left;">(Movil)</h4>
	</div>
		
	<div class="box-detail">
		<p class="title" style="font-weight: bold;">Mensajero Instant&aacute;neo:</p>
		#if($usuario.mensajeroInstantaneo)
			<a style="cursor:text; float:left;">$usuario.mensajeroInstantaneo.url</a>
			<h4 style="margin-left:10px; float:left;">($usuario.mensajeroInstantaneo.tipoPagina.nombre)</h4>
		#else
			<a style="cursor:text;">Sin informaci&oacute;n</a>
		#end
	</div>

	<div class="box-detail">
		<p class="title" style="font-weight:bold;">Fecha de nacimiento:</p>
		<a style="cursor:text;">#if($user.fechaNacimiento)$Utilidades.fechaSocial($user.fechaNacimiento) #else Sin informaci&oacute;n #end</a>
	</div>

	<div class="box-detail">
		<p class="title" style="font-weight: bold;">Contactos en com&uacute;n:</p>
		<a style="cursor:text;">$numComunes</a>
	</div>
	
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery("a#enviar-mensaje-contacto").fancybox({
		'overlayShow'	:	false
	});
});
</script>