#parse( "common/header_final.vm" )
#parse( "jsStartup/perfil.vm" )
<script type="text/javascript" src="resources/js/jquery.qtip.min.js"></script>
<script type="text/javascript" src="resources/js/jquery.scroller.min.js"></script>
<script type="text/javascript" src="resources/js/jcarousellite_1.0.1.min.js"></script>
<div class="content-body box-decoration" style="background:#EFF2F7;">
	<!-- Inicio  barra lateral izquieda -->
	<div class="container-small-right " style="background:#ffffff;">
		
		<div class="box-small-right1 box-decoration-activity"style="height:200px;cursor:text;">
			<h3 style="margin:5px 5px 10px 5px;">&nbsp;&nbsp;Actividad Reciente</h3>
			<style type="text/css">
                * { margin:0; padding:0; }
             </style>
			#if($actividadReciente.size() != 0)
				<script type="text/javascript">
	            $(function() {
	            	$(".newsticker-jcarousellite").jCarouselLite({
	            		vertical: true,
	            		hoverPause:true,
	            		visible: 4,
	            		auto:1000,
	            		speed:1500,
	            	});
	            });
	            </script>
            #end
			
			<div id="newsticker-demo">    
                <div class="newsticker-jcarousellite">
            		<ul>
                        #if(!$actualizacionPerfil)
						<li>
            				<div class="info">
            					<a href="#"style="color:#666666;">$usuario.nombreIncompleto ha actualizado datos de su perfil.</a> 
            
            					<span class="cat" style="color:#049CC6;">Categor&iacute;a: Perfil personal</span>
            				</div>
            				<div class="clear"></div>
            			</li>
            			#end
                        #if($actividadReciente.size() == 0)
								<p class="no-data" style="font-size:11px;color:#049CC6;" >Sin actividad reciente</p>
							#else
						#foreach($a in $actividadReciente)
						<li>  
            				<div class="info">
            					<a href="#"style="color:#666666;">$a.mensaje</a>
            					<span class="cat" style="color:#049CC6;">Categor&iacute;a: $a.categoria</span>
            				</div>
            				<div class="clear"></div>
            			</li>
						#end
					#end
                    </ul>
                </div>
            </div>		  
		</div>
		
		<div class="box-small-right1 box-decoration-activity">
			<p style="margin:5px;" ><h3>&nbsp;&nbsp;Contactos ($totalContactos)</h3></p>
			<table style="margin-top:0px;">
				<tbody>
			      <tr>
			        <td colspan="4">
			          <div>
						<table id="contactostip">
							#if($contactosRecientes.size() == 0)
								<p class="no-data" style="font-size:11px;color:#049CC6;" >A&uacute;n no tienes amigos? </br>Buscalos y agregalos en la secci&oacute;n CONTACTOS</p>
							#else
								#foreach($c in $contactosRecientes)
    								<tr>
									<td>
    									<a href="#" style="float:left;width:60px;">
											#if($c.foto)
												<img src="http://perfil.sansanos.cl/data$c.foto" width="50" height="50" alt="sin imagen" style="padding:3px; margin:3px;border:1px solid #CCCCCC;background:#fff;"/>
											#else
												<img src="/perfil/foto?uid=$c.id" width="50" height="50" alt="sin imagen" style="padding:3px; margin:3px;border:1px solid #CCCCCC;background:#fff;"/>
											#end											
										</a>
										<p style="float:left;padding-top:6px;width:140px;margin-left:5px;">
											<a href="perfil?uid=$c.id" class="contacto-person">$Utilidades.getNombreFormateado($c.getNombreIncompleto())</a><br>
											<span style="color:#666666;">$c.comuna.nombre</span>
										</p>
    								</td>
									</tr>
								#end
							#end	
						</table>
			          </div> 
			        </td>
			      </tr>		   
			  </tbody>
			 </table>		  
		</div>
		#if($externo && $externo == "true")
	  <div class="box-small-right1 box-decoration-activity" style="height:130px;">
		<p style="margin:5px;"><h3>&nbsp;&nbsp;Contactos comunes ($numComunes)</h3></p>
			<table style="margin-top:0px;">
				<tbody>
			      <tr>
			        <td colspan="4">
			          <div>
						<table id="contactostip2">
								#set($number = 1)
								#foreach($c in $comunes)
									#if($number % 5 == 0)
										<tr>
									#end
    								<td id="$number">
    									<a href="/perfil?uid=$c.id"><img src="/perfil/foto?uid=$c.id" width="35" height="35" alt="sin imagen" style="margin:3px; padding:3px; border:1px solid #d1d1d1;background:#fff;"/></a>
    									<input type="hidden" id="foto-$number" value="/perfil/foto?uid=$c.id">
    									<input type="hidden" id="nombre-$number" value="$Utilidades.getNombreFormateado($c.getNombreIncompleto())">
    									<input type="hidden" id="fecha-$number" value="$Utilidades.fechaAmigable($c.fecmodificacion)">
    								</td>
									
									#if($number % 4 == 0)
										</tr>
									#end
									
								#set($number = $number + 1)
								#end
						</table>
			          </div> 
			        </td>
			      </tr>		   
			  </tbody>
			 </table>		
		

 </div>
 <script type="text/javascript">
        jQuery(document).ready(function() 
        {
           jQuery('#contactostip2 td').each(function()
            {
                var id = jQuery(this).attr("id");
				
				var nombre = jQuery('#nombre-'+id).val();
				var fecha = jQuery('#fecha-'+id).val();
				var foto = 'src="'+jQuery('#foto-'+id).val()+'"';
                thumbnail = '<div class="contactos-comunes">'+ 
				'<p style="padding:5px; font-weight:bold; color:#049CC6">'+nombre+'</p>'+
				'<p style="padding:5px;">Amigos desde hace '+ fecha +'</p></div>';
       			
                jQuery(this).qtip(
                {
                    content: thumbnail
                });
            });
        });
        </script>
 	   #end
	   </div>

	   <!-- Fin barra lateral izquierda -->	  
	  
	  <!-- Inicio  barra lateral derecha -->

		  <div class="box-full" style="min-height:730px;margin-top:10px;background:#FFFFFF; margin-left:20px;width:680px; border-radius:4px;">
		  	<div class="container-perfil">
		  		<div style="float:right;">
		  	<!--<a href="perfil/crearPDF?uid=$user.id">
		  		<img style="width:30px;" title="Crear PDF" src="/resources/img/iconoPDF.gif" alt="x"/>
		  	</a>-->
		  </div>
		  				  		 
		  		 <!-- datos personales-->
		  		<div class="person-info"><h1>$!user.nombreCompleto</h1>
		  			<p class="title-profesion">$!user.titulo</p>
	  				#if($cargoActual)
	  					<p class="title-profesion">$!cargoActual.cargo, $!cargoActual.departamento - $!cargoActual.nombreEmpresa</p>
	  				#else
	  					<p class="title">Sin informaci&oacute;n laboral actual</p>		
	  				#end
		  			<p class="title-profesion" style="color:#049CC6;font-style:italic;font-size: 12px;">$user.comuna.nombre, $user.comuna.pais.nombre</p>
		  			<a class="link-editar" target="_blank" href="http://perfil.sansanos.cl/cv/antPersonales.html">Editar tu perfil</a>
		  		</div>
		  		
		  	<div style="width:130px;">	
	    		<!-- foto-->
				<div class="container-foto">
					#if($usuario.foto)
						<img src="http://perfil.sansanos.cl/data$usuario.foto" width="120" height="120" alt="sin imagen" />
					#else
						<img src="/perfil/foto?uid=$user.id" width="120" height="120" alt="sin imagen" />
					#end
					</div>
	   			#if($userID != $user.id)	
					#if($usuarioAgregado)
	   						<div class="container-eliminar" >
	   							<a href="#" id="eliminar-contacto" style="color:#2577B6;">
    								<img style="float:left;" src="/resources/img/boton_cerrar.png" width="17" alt="x">
    								<font style="margin-left:5px;">Eliminar contacto</font>
	    							<input type="hidden" id="user_id" value="$user.id">
	    						</a>
    						</div>
    						<script type="text/javascript">
    							$("#eliminar-contacto").click(function(){
    									var idUsuarioEliminar = $("#user_id").val();
  									
    									jQuery.postJSON("/contactos/eliminarContacto", idUsuarioEliminar, function(data) {
    										if(data.flag == "true"){
												alert("El contacto ha sido eliminado exitosamente");
											}
    									});
    									window.location.replace("/perfil?uid="+idUsuarioEliminar);
    									return false;
    								});
						    </script>	   					
				   	#else
				   		#if($codigoVigencia)
							<div class="container-agregar" style="margin-left:5px;">
        						<a style="color:#2577B6;">
        							Solicitud de contacto enviada
        						</a>
        					</div>
						#else
    						<script type="text/javascript">    						
    							jQuery(document).ready(function() {
    								jQuery("a#agregar-contactos").fancybox({
    									'overlayShow'	:	false
    								});
    							});
    					    </script>
        					<div class="container-agregar">
        						<a id="agregar-contactos" href="/contactos/agregarContacto?id=$user.id" style="color:#2577B6;">
        							<img src="/resources/img/boton_maximizar.png" width="17" alt="x" >
        							<font style="margin-left:5px;">Agregar contacto</font>
        						</a>
        					</div>
    					#end
					#end
				#end
		    </div>
		  <a class="link-editar" style="float:right;"target="_blank" href="http://perfil.sansanos.cl/cv/infContacto.html">Editar</a>
		  <fieldset class="fieldset-perfil" style="border:1px solid #1061A1">			
			<legend align="left">Informacion General</legend>
		   <div class="box-detail-perfil">
					<p class="title">Correo Electr&oacute;nico:</p>
					<a style="cursor:text; text-transform:lowercase;">$!usuario.email</a>
				</div>
				<div class="box-detail-perfil">
					<p class="title" >Tel&eacute;fono:</p>
					#if($usuario.telefonoMovil)
						<a style="cursor:text;">+56 9 $ModuloUtilidades.formatCelular($usuario.telefonoMovil)</a>
					#else
						#if($usuario.telefono)
							<a style="cursor:text;">+56 $!usuario.codTelefono $!usuario.telefono</a>
						#else
							<a style="cursor:text;">Sin Informaci&oacute;n</a>
						#end
					#end
				</div>
				<div class="box-detail-perfil" style="width:200px;">
					<p class="title">Mensajero Instant&aacute;neo:</p>
					#if($nombreMensajero)
						<a style="cursor:text;">$!urlMensajero</a><h4 style="margin-right:15px;">($nombreMensajero)</h4>
					#else
					<a style="cursor:text;">Sin Informaci&oacute;n</a>
					#end
				</div>
				<div class="box-detail-perfil">
					<p class="title">Fecha de nacimiento:</p>
					#if($usuario.fechaNacimiento)
					<a style="cursor:text;">$Utilidades.fechaSocial($usuario.fechaNacimiento)</a>
					#else
					<a style="cursor:text;">Sin Informaci&oacute;n</a>
					#end
				</div>
				<div class="box-detail-perfil">
					<p class="title">Contactos:</p>
					<a style="cursor:text;" href="/contactos/miniContactos?uid=$usuario.id" id="mostrar-mini-contactos" class="messageBox sendMessage">$totalContactos contactos</a>
				</div>
  	    	</fieldset>   
		  </div>
		  
		  	
		  	#if($usuarioAgregado || $userID == $usuario.id)
		  		
		  	<div style="margin-top:-10px; margin-left:20px;" class="container-perfil">
				<a class="link-editar" style="float:right;margin-right:20px; margin-top:20px;" target="_blank" href="http://perfil.sansanos.cl/cv/antLabor.html">Editar </a>
		  		<h1 class="perfil-title">Antecedentes Laborales</h1>		
		  		<div id="detail-perfil1" class="detail-perfil">
		  		<table width="100%">
		        			<tr>
		            			<td width="25%" valign="top">
		              			<h3>Actual</h3>
		            			</td>
		            			<td width="75%">
		                 			#if($antecedentesLaboralActual.size() == 0)
										<span style="font-weight:normal;">A&uacute;n no has agregado tu(s) ocupaci&oacute;n(es) anterior(es).</span>
									#else
    									#foreach($laboralActual in $antecedentesLaboralActual)
    		                 				<h4 style="margin-bottom: 10px;">
												<span style="font-weight:bold;">$!laboralActual.cargo en $!laboralActual.departamento</span>
												<br>$!laboralActual.nombreEmpresa
												<br><span style="color:#aaa;">$!laboralActual.fecha_ingreso - $!laboralActual.fecha_egreso</span>
												#if($laboralActual.descripcion)
													<p style="margin-top:10px;font-weight: normal;">$laboralActual.descripcion</p>
												#else
													<br>
												#end
												<br>
											</h4>           
    									#end 
									#end
		            			</td> 
		       				 </tr>
				 </table>	
		  			</div>	
		  			
		  			<div id="detail-perfil2" class="detail-perfil">
		  		<table width="100%">
		        			<tr>
		            			<td width="25%" valign="top">
		              			<h3>Anterior</h3>
		            			</td>
		            			<td width="75%">
		                 			#if($antecedentesLaboralAnterior.size() != 0)
    									#foreach($trabajoAnterior in $antecedentesLaboralAnterior)
											<h4 style="margin-bottom: 10px;">
												<span style="font-weight:bold;">$!trabajoAnterior.cargo en $!trabajoAnterior.departamento</span>
												<br>$!trabajoAnterior.nombreEmpresa
												<br><span style="color:#aaa;">$!trabajoAnterior.fecha_ingreso - $!trabajoAnterior.fecha_egreso</span>
												#if($trabajoAnterior.descripcion)
													<p style="margin-top:10px;font-weight: normal;">$trabajoAnterior.descripcion</p>
												#else
													<br>
												#end
												<br>
											</h4>             
    			                 		#end  
		                 			#else
										<span style="font-weight:normal;">A&uacute;n no has agregado tu(s) ocupaci&oacute;n(es) anterior(es).</span>
									#end
		            			</td> 
		       				 </tr>
				 </table>	
		  			</div>
					<a class="link-editar" style="float:right;margin-right:20px; margin-top:20px;" target="_blank" href="http://perfil.sansanos.cl/cv/antAcademicos.html">Editar </a>
		  		<h1 class="perfil-title">Antecedentes Educacionales</h1>
				
		  			<div id="detail-perfil3" class="detail-perfil">
		  			
		  		<table width="100%">
		        			<tr>
		            			<td width="25%" valign="top">
		              			<h3>Educaci&oacute;n</h3>
		            			</td>
		            			<td width="75%">
									<b>Universidad T&eacute;cnica Federico Santa Mar&iacute;a</b>
		                 			#foreach($c in $carrerasUSMNuevas)
										<h4 style="margin-left:25px;"> &mdash; $!c</h4> 
									#end 
							
									#foreach($er in $educacionalReciente)
										<p style="margin-top:5px;"></p>
										<b>$!er.universidad.nombre</b>
										<h4 style="margin-left:25px;"> &mdash; $!er.carrera</h4> 
									#end
		            			</td> 
		       				 </tr>
				 </table>	
		  			</div>
		  	<h1 class="perfil-title">Sitios de Inter&eacute;s</h1>
		  			
		  			<div id="detail-perfil5" class="detail-perfil">
		  			
		  		<table width="100%">
		        			<tr>
		            			<td width="25%" valign="top">
		              			<h3>Sitios Web</h3>
		            			</td>
		            			<td width="75%">
		                 			#if($paginasWeb.size() == 0)
										<span style="font-weight:normal;">A&uacute;n no has agregado sitios web a tu perfil.</span>
									#else
    									#foreach($pagina in $paginasWeb)
    		                 				<h4 class="user-web"><a href="#">$pagina.url</a> <a class="delete-web" id="$pagina.paginaExAlumnoId" style="cursor:pointer;color:red;font-weight:bold;margin-left:10px;display:none;">Eliminar</a></h4>
										#end
									#end            			
		            			</td> 
		       				 </tr>
							 <tr>
		            			<td width="25%" valign="top">
		              			
		            			</td>
		            			<td width="75%">
		                 			<script type="text/javascript">
                                    jQuery(document).ready(function(){
                						jQuery("a#agregar-web").fancybox({
                                    		'overlayShow'	:	false
                                    	});
                                    });	
                                    </script>
                					#if($userID == $user.id)
                						<a href="/perfil/anadirWeb" id="agregar-web">Agregar un nuevo sitio web </a>
                					#end         			
		            			</td> 
		       				 </tr>
				 </table>
				 <table width="100%" style="margin-top:10px;">
		        			<tr>
		            			<td width="25%" valign="top">
		              			<h3>Mensajeros Instant&aacute;neos</h3>
		            			</td>
		            			<td width="75%">
		                 			#if($mensajeros.size() == 0)
										<span style="font-weight:normal;">A&uacute;n no has agregado mensajeros instant&aacute;neos a tu perfil.</span>
									#else
    									#foreach($mensajero in $mensajeros)
    		                 				<h4 class="user-web"><a href="#"><b>$mensajero.tipoPagina.nombre</b>: $mensajero.url</a> <a class="delete-web" id="$mensajero.paginaExAlumnoId" style="cursor:pointer;color:red;font-weight:bold;margin-left:10px;display:none;">Eliminar</a></h4>
										#end
									#end            			
		            			</td> 
		       				 </tr>
							 <tr>
		            			<td width="25%" valign="top">
		              			
		            			</td>
		            			<td width="75%">
		                 			<script type="text/javascript">
                                    jQuery(document).ready(function(){
                						jQuery("a#agregar-mensajero").fancybox({
                                    		'overlayShow'	:	false
                                    	});
                                    });	
                                    </script>
                					#if($userID == $user.id)
                						<a href="/perfil/mensajeroInstantaneo" id="agregar-mensajero">Agregar un nuevo mensajero </a>
                					#end         			
		            			</td> 
		       				 </tr>
				 </table>
		  			</div>
		    </div>
		    #end
		  </div>

		  </div></div>
		  	#parse( "common/footer_final.vm" )
	  
	  <!-- Fin barra lateral derecha -->
	  
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery('.user-web').hover(function(){
		jQuery(this).children('.delete-web').show();
	}, function(){
		jQuery('.delete-web').hide();
	});
	jQuery("a#mostrar-mini-contactos").fancybox({
		'overlayShow'	:	false
	});
	
	jQuery('.delete-web').click(function() {
		var id = jQuery(this).attr("id");
		jQuery.postJSON("/perfil/eliminarWeb", JSON.parse(id), function(data) {
			if(typeof data["errores.exist"] != 'undefined'){
			  if(typeof data["paginaExAlumnoId.required"] != 'undefined')
				  	jQuery('#e_paginaId_'+id).show().html(data["paginaExAlumnoId.required"]);
			  if(typeof data["paginaExAlumnoId.invalid"] != 'undefined')
				  	jQuery('#e_paginaId_'+id).show().html(data["paginaExAlumnoId.invalid"]);
			}else{
				if(data.flag == "true"){
					alert("tu pagina ha sido eliminada con exito");
					jQuery('#'+id).parent().hide();
				}
			}
		});
		return false;	
	});
});
</script>
