<!-- Cuerpo de la pagina -->
<div class="content-body2" style="background:#EFF2F7; height:520px;">	
	<div class="search-page-input" id="search-input2">
		<input type="text" size="40" id="search-input-box" name="search-input-box" style="border:1px solid #d1d1d1; width:460px; cursor:text; margin-left:15px;" value="Buscar Personas">
		<a id="buscar-submit2" ><img src="/resources/img/lupa.png" width="13" alt="x" style="margin-top:5px; margin-left:-20px; cursor:pointer; position:relative;"/></a>			
	</div>
	<script type="text/javascript">
	$('#search-input-box').focus(function(){
		if($('#search-input-box').val() == "Buscar Personas"){
			$('#search-input-box').val("");
		}
		$('#search-input-box').css("color","#000000");
	});	
	
	$('#search-input-box').blur(function(){
		if($('#search-input-box').val() == ""){
			$('#search-input-box').val("Buscar Personas");
		}
		$('#search-input-box').css("color","#999999");
	});
	$("#buscar-submit2").click(function(){
		var cadena = $("#search-input-box").val();
		$("#buscar-submit2").attr("href","/contactos/buscarPersonas?cadena=" + cadena);
	});
	jQuery("#buscar-submit2").fancybox({
		'overlayShow'	:	false
	});
	</script>
	<!-- Resultado de la busqueda -->	
	<div style="border: 1px solid #D1D1D1; width:510px; margin-left:45px; background-color:#FFFFFF;">
		<div class="title" style="margin-left:10px;">Resultados de la B&uacute;squeda (
			#if($resultados)
				$resultados.size()
			#else
				0
			#end
			)
		</div>
		<div class="side-bar2" style="margin-left:15px; width: 480px; height:390px; overflow-y:scroll; background-color:#FFFFFF;">
			<style>
				#personas{
					list-style-type: none;
				}
				#personas li{
					width:450px;height:60px; padding:3px;
				}
				.decoration img {
		        	padding: 4px;
		        	border: 1px solid white;
		        }
		        
		        .decoration h3 {
		        	margin: 0 auto;
		        	color: #0b3762;
		        	font-size: 14px;
		        	cursor: pointer;
		        }
		        .decoration h4 {
		        	margin: 0 auto;
		        	color: #666;
		        	font-size: 12px;
		        	cursor: text;
		        }
		        .decoration h5 {
		        	margin: 0 auto;
		        	color: #666;
		        	font-size: 10px;
		        	cursor: text;
		        }
		        .decoration h5:hover,.decoration h4:hover,.decoration h3:hover{
		        	color:#0b3762;
		        }
		        
		        .decoration:hover {
		        	background: #EFF2F7;        
		        }
		        
		        .decoration:hover img{border: 1px solid #999;}
		        .decoration img:hover {
		        	border-color:#0b3762;
		        	border-style: solid; 
		        	border-width: 1px;
		        	-moz-box-shadow:  0 0 2px #2398b9;
		        	-webkit-box-shadow: 0 0 2px #2398b9;
		        	box-shadow: 0 0 2px #2398b9;
		        }
			</style>
			<ul id="personas">
			#foreach($resultado in $resultados)
				<li class="decoration" onclick="location.href='/perfil?uid=$resultado.id'" style="cursor:pointer;">
	    			<div style="float:left;width:23%; cursor:pointer;">
	    				<img src="/resources/img/def_av.gif" width="50" alt="sin imagen">
	    			</div>
	    			<div style="float:left;margin-top:20px;margin-left:5px;width:75%; cursor:pointer;">
	        			<h3><a style="color:#0b3762;font-size:14px;cursor:pointer;" class="contacto-ver" href="/perfil?uid=$resultado.id">$Utilidades.getNombreFormateado($resultado.getNombreCompleto())</a></h3>
	        			<a href="#"><h4>$!resultado.titulo.sedeCarrera.nombre</h4></a>
	            		<a href="#"><h5>$!resultado.laboralActual.sucursalEmpresa.empresa.nombre</h5></a>
	    			</div>
	    		</li>
			#end
		</div>
	</div>
</div>