<html>
	<head>
		<title>buscar contacto</title>
		<script type="text/javascript" src="/resources/js/jquery.min.js" /></script>
		<script type="text/javascript" src="/resources/js/json.min.js" /></script>
		<!-- se agrega esto para que deje de tirar esos warnings molestos cuando se desarrolla, se puede eliminar despues -->
		<link rel="shortcut icon" href="resources/img/favicon.ico" />
	</head>
	
	<body>		
		<div class="container">
			<h1>Search</h1>
			<div class="span-12 last">	
				<form id="add" name="add" method="POST">
				  	<fieldset>		
						<legend>campos de b&uacute;squeda</legend>
   						    <br/><label for="nombre">Nombre: </label> 
						  	<input type="text" name="nombre" value="$!status.value"><br/>
							<p><input id="buscar" type="submit" value="buscar" /></p>
					</fieldset>
				</form>
			</div>
			<hr>	
		</div>
		<div id="result"></div>
	</body>

	<script type="text/javascript">	
		jQuery(document).ready(function() {
			jQuery("#add").submit(function() {
				var nombre = jQuery(this).serializeObject();
				
				jQuery.postJSON("/contactos/buscarContactos", nombre, function(data) {
					alert(data);
				});
				return false;				
			});
		})  

		
	</script>
</html>
