<html>
<head>
	<title>Mensajes</title>
	<script type="text/javascript" src="/resources/js/jquery.min.js" /></script>
	<script type="text/javascript" src="/resources/js/json.min.js" /></script>
	<link rel="shortcut icon" href="resources/img/favicon.ico" />
	<style type="text/css">
		.hor-minimalist-a {
		    background: none repeat scroll 0 0 #FFFFFF;
		    border-collapse: collapse;
		    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
		    font-size: 12px;
		    margin: 20px;
		    text-align: left;
		    width: 480px;
		}
		.hor-minimalist-a th {
		    border-bottom: 2px solid #6678B1;
		    color: #003399;
		    font-size: 14px;
		    font-weight: normal;
		    padding: 10px 8px;
		    text-align: center;
		}
		.hor-minimalist-a td {
		    color: #666699;
		    padding: 9px 8px 0;
		}
		.hor-minimalist-a tbody tr:hover td {
		    color: #000099;
		}
		.hor-minimalist-b {
		    background: none repeat scroll 0 0 #FFFFFF;
		    border-collapse: collapse;
		    font-family: "Lucida Sans Unicode","Lucida Grande",Sans-Serif;
		    font-size: 12px;
		    margin: 20px;
		    text-align: left;
		    width: 480px;
		}
		.hor-minimalist-b th {
		    border-bottom: 2px solid #6678B1;
		    color: #003399;
		    font-size: 14px;
		    font-weight: normal;
		    padding: 10px 8px;
		}
		.hor-minimalist-b td {
		    border-bottom: 1px solid #CCCCCC;
		    color: #666699;
		    padding: 6px 8px;
		}
		.hor-minimalist-b tbody tr:hover td {
		    color: #000099;
		}
		
		#boxes .window {
		  position:absolute;
		  left:0;
		  top:0;
		  width:440px;
		  height:200px;
		  display:none;
		  z-index:9999;
		  padding:20px;
		} 
		
		#mask {
		  position:absolute;
		  left:0;
		  top:0;
		  z-index:9000;
		  background-color:#000;
		  display:none;
		}
				
		#boxes #dialog1 {
		  width:375px; 
		  height:203px;
		}
		 
		#dialog1 .d-header {
		  background-color:#ffffff; 
		  width:375px; 
		  height:150px;
		}
		 
		#dialog1 .d-header input {
		  position:relative;
		  top:60px;
		  left:100px;
		  border:3px solid #cccccc;
		  height:22px;
		  width:200px;
		  font-size:15px;
		  padding:5px;
		  margin-top:4px;
		}
		 
		#dialog1 .d-blank {
		  float:left;
		  background-color:#ffffff;
		  width:267px; 
		  height:53px;
		}
		 
		#dialog1 .d-login {
		  float:left;
		  width:108px; 
		  height:53px;
		}
	</style>
</head>
<body>
<h1> Mensajes </h1>
<!-- COMO ESTA TODO EL BUZON HECHO CON JSON ENTONCES SE DEBE HACER TODO POR AJAX, UNA DE LAS FORMAS POSIBLES
     ES LA QUE SE PRESENTA AQUI -->

<!-- DIV QUE CONTIENE EL BUZON DE ENTRADA -->
<div id="buzonEntrada">
	#set($id = 0)
	#foreach($m in $mensajes)
		<table id="imensaje-$id" summary="mensaje" class="hor-minimalist-a">
			<thead>
				<tr>
				<th scope="col" colspan="2">Mensaje</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Asunto:</td>
					<td>$m.asunto</td>
				</tr>
				
				<tr>
					<td>Emisor:</td>
					<td>$ModuloUtilidades.getNombreFormateado($m.usuarioAexa.getNombreCompleto())</td>
				</tr>
				
				<tr>
					<td>Fecha envio:</td>
					<td>$ModuloUtilidades.fechaDefault($m.fechaEnvio)</td>
				</tr>
			
				<tr>
					<td><input type="button" value="Ver Mensaje" class="ver" data-id="$id"></td>
					<td><input type="button" value="Eliminar Mensaje" class="eliminar" data-id="$id" modal="#dialog1"></td>
				</tr>
				
			</tbody>
		</table>
		<form id="mensaje-leer-$id">
			<input type="hidden" name="usuarioAexaReceptor.id" value="$m.usuarioAexaReceptor.id">
			<input type="hidden" name="usuarioAexa.id" value="$m.usuarioAexa.id">
			<input type="hidden" name="fechaEnvioMensaje" value="$m.fechaEnvio">
	    </form>
		#set($id = $id + 1)
	#end
</div>
<!-- FIN DIV BUZON DE ENTRADA -->

<!-- DIV LECTURA DE MENSAJES-->
<div id="leerMensaje" style="display:none;">
	<input type="button" id="volver" value="Volver">
	<div id="cargando" style="display:none; color: green;"><h1>Cargando...</h1></div>
	<table class="hor-minimalist-a" summary="mensaje">
		<thead>
			<tr>
			<th scope="col" colspan="2">Mensaje</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Asunto:</td>
				<td id="titulo"></td>
			</tr>
			
			<tr>
				<td>Emisor:</td>
				<td id="usuarioEmisor"></td>
			</tr>
			
			<tr>
				<td>Fecha env&iacute;o:</td>
				<td id="fecha"></td>
			</tr>
			
			<tr>
				<td>Mensaje:</td>
				<td id="mensaje-final"></td>
			</tr>
		
			<tr>
				<td><input type="button" value="Responder Mensaje" id="responder"></td>
				<td></td>
			</tr>
			
		</tbody>
	</table>
	
	<form id="responder-mensaje" style="display:none;">
		<fieldset>
			<legend>Responder Mensaje</legend>
			Asunto: <input type="asunto" id="asunto-respuesta" name="asunto" size="50"><br>
			Mensaje: <br><textarea id="mensaje-respuesta" name="mensaje" cols="35" rows="10"></textarea><br>
			<input type="hidden" name="receptores" id="responder-receptores">
			<input type="submit" name="enviar" value="Enviar">
			<input type="button" id="cancelar" name="cancelar" value="Cancelar">
		</fieldset>
	</form>
	
	<div style="color:red;">
		<p style="display:none;" id="e_remitente"></p>
		<p style="display:none;" id="e_receptor"></p>
		<p style="display:none;" id="e_verMensaje"></p>
		<p style="display:none;" id="e_fecha"></p>
		<p style="display:none;" id="e_mensaje"></p>
		<p style="display:none;" id="e_receptores"></p>
	</div>
</div>
<!-- FIN DIV LEER MENSAJE -->

<!-- INICIO DIV ELIMINAR MENSAJE -->  
<div id="boxes"> 
	<div id="dialog1" class="window"> 
	  <div class="d-header"> 
	    <div style="color:red;">
			<p style="display:none;" id="del_remitente"></p>
			<p style="display:none;" id="del_receptor"></p>
			<p style="display:none;" id="del_eliminarMensaje"></p>
			<p style="display:none;" id="del_fecha"></p>
			<p style="display:none;" id="del_mensaje"></p>
			<a href="#"class="close"/>Close it</a>
		</div>   
	  </div> 
	</div>  
  	<div id="mask"></div> 
</div> 
<!-- FIN DIV ELIMINAR MENSAJE -->  

<!-- CODIGO JQUERY -->
<script type="text/javascript">	
jQuery('.ver').click(function() {
	var id = jQuery(this).attr("data-id");
  	jQuery('#buzonEntrada').hide('800', function() {
  		jQuery('#leerMensaje').show();
  		var mensaje = jQuery('#mensaje-leer-'+id).serializeObject();
				
		jQuery("#cargando").css("display", "inline");
		jQuery.postJSON("/buzon/cargarMensaje", mensaje, function(data) {
			if(typeof data["errores.exist"] != 'undefined'){
				//aqui se manejan los errores, ustedes los imprimen como quieran y donde quieran, esto
				//es solo un ejemplo de lo que se puede hacer con esto
			  	if(typeof data["remitente.invalid"] != 'undefined')
				  	jQuery('#e_remitente').show().html(data["remitente.invalid"]);
			  	if(typeof data["receptor.invalid"] != 'undefined')
				  	jQuery('#e_receptor').show().html(data["receptor.invalid"]);
				if(typeof data["verMensaje.invalid"] != 'undefined')
				  	jQuery('#e_verMensaje').show().html(data["verMensaje.invalid"]);
				if(typeof data["fecha.invalid"] != 'undefined')
				  	jQuery('#e_fecha').show().html(data["fecha.invalid"]);
			}else{
				if(typeof data["mensaje.false"] != 'undefined')
				  	jQuery('#e_mensaje').show().html(data["mensaje.false"]);
				 else{
					//aqui se recibe todo en caso de exito, tambien se puede hacer lo que se desee
					jQuery('#titulo').html(data.asunto);
					jQuery('#fecha').html(data.fechaEnvio);
					jQuery('#usuarioEmisor').html(data.usuario);
					jQuery('#mensaje-final').html(data.mensaje);
					jQuery('#responder-receptores').val(data.usuarioId);
				}
			}
			jQuery("#cargando").css("display", "none");
		});
  	});
});		

jQuery('.eliminar').click(function() {
	var id = jQuery(this).attr("data-id");
	var mensaje = jQuery('#mensaje-leer-'+id).serializeObject();
	jQuery.postJSON("/buzon/eliminarMensaje", mensaje, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
			//aqui se manejan los errores, ustedes los imprimen como quieran y donde quieran, esto
			//es solo un ejemplo de lo que se puede hacer con esto
		  	if(typeof data["remitente.invalid"] != 'undefined')
			  	jQuery('#del_remitente').show().html(data["remitente.invalid"]);
		  	if(typeof data["receptor.invalid"] != 'undefined')
			  	jQuery('#del_receptor').show().html(data["receptor.invalid"]);
			if(typeof data["eliminarMensaje.invalid"] != 'undefined')
			  	jQuery('#del_eliminarMensaje').show().html(data["eliminarMensaje.invalid"]);
			if(typeof data["fecha.invalid"] != 'undefined')
			  	jQuery('#del_fecha').show().html(data["fecha.invalid"]);
		}else{
			if(data["error"] == 'true')
			  	jQuery('#del_mensaje').show().html("Error al eliminar el mensaje");
			 else{
				//aqui se recibe todo en caso de exito, tambien se puede hacer lo que se desee
				jQuery('#del_mensaje').show().html("Tu mensaje ha sido eliminado correctamente.");
				jQuery('#imensaje-'+id).hide();
			}
		}
	});
	
	var mod = jQuery(this).attr('modal');

	//Get the screen height and width
	var maskHeight = jQuery(document).height();
	var maskWidth = jQuery(window).width();

	//Set heigth and width to mask to fill up the whole screen
	jQuery('#mask').css({'width':maskWidth,'height':maskHeight});
	
	//transition effect		
	jQuery('#mask').fadeIn(1000);	
	jQuery('#mask').fadeTo("slow",0.8);	

	//Get the window height and width
	var winH = jQuery(window).height();
	var winW = jQuery(window).width();
          
	//Set the popup window to center
	jQuery(mod).css('top',  winH/2-jQuery(mod).height()/2);
	jQuery(mod).css('left', winW/2-jQuery(mod).width()/2);

	//transition effect
	jQuery(mod).fadeIn(1000); 

});

jQuery('#volver').click(function() {
  jQuery('#leerMensaje').hide('800', function() {
  	jQuery('#buzonEntrada').show(); 
  	jQuery('#titulo').html('');
	jQuery('#fecha').html('');
	jQuery('#usuarioEmisor').html('');
	jQuery('#mensaje-final').html('');
	jQuery('#responder').removeAttr("disabled")
	jQuery('#responder-mensaje').hide();
	jQuery('#e_remitente').hide().html('');
	jQuery('#e_receptor').hide().html('');
	jQuery('#e_verMensaje').hide().html('');
	jQuery('#e_fecha').hide().html('');
	jQuery('#e_mensaje').hide().html('');
	jQuery('#del_remitente').hide().html('');
	jQuery('#del_receptor').hide().html('');
	jQuery('#del_verMensaje').hide().html('');
	jQuery('#del_fecha').hide().html('');
	jQuery('#del_mensaje').hide().html('');
  });
});

jQuery('#responder').click(function() {
  jQuery('#responder-mensaje').show('fast', function() {
  	var asunto = jQuery('#titulo').text();
  	var mensaje = jQuery('#mensaje-final').text();
  	var fecha = jQuery('#fecha').text();
  	var autor = jQuery('#usuarioEmisor').text();
  	jQuery('#asunto-respuesta').val('[RE:] '+asunto);
  	var anteponer = 'A las '+fecha+' '+autor+' dijo:\n';
  	jQuery('#mensaje-respuesta').val('\n\n'+anteponer+'\n>'+mensaje);
  });
  jQuery(this).attr('disabled', 'disabled');
});

jQuery('#cancelar').click(function() {
  jQuery('#responder-mensaje').show('fast', function() {
  	jQuery('#asunto-respuesta').val('');
  	jQuery('#mensaje-respuesta').val('');
  });
  jQuery('#responder').removeAttr("disabled");
  jQuery('#responder-mensaje').hide();
});

jQuery("#responder-mensaje").submit(function() {
	var mensaje = jQuery(this).serializeObject();
	
	jQuery.postJSON("/buzon/enviarMensaje", mensaje, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
		  //aqui se manejan los errores, ustedes los imprimen como quieran y donde quieran, esto
		  //es solo un ejemplo de lo que se puede hacer con esto
		  if(typeof data["receptor.required"] != 'undefined')
			  	jQuery('#e_receptores').show().html(data["receptor.required"]);
		}else{
			//aqui se recibe todo en caso de exito, tambien se puede hacer lo que se desee, alguna
			//redireccion, mostrar un mensaje de exito, lo que sea, si se desea, con el jquery se puede
			//luego hacer desaparecer el formulario
			if(data.flag == "true"){
				alert("Tu mensaje ha sido enviado con exito");
				//Se redirige al buzon
				window.location.replace("/buzon");
			}
			else
				alert("Ha ocurrido un error al enviar el mensaje. Intentalo nuevamente.");
		}
	});
	return false;				
});

jQuery(document).ready(function() {	

	//if close button is clicked
	jQuery('.window .close').click(function (e) {
		//Cancel the link behavior
		e.preventDefault();
		
		jQuery('#mask').hide();
		jQuery('.window').hide();
	});		
	
	//if mask is clicked
	jQuery('#mask').click(function () {
		jQuery(this).hide();
		jQuery('.window').hide();
	});			
	
});
</script> 

</body>
</html>