<html>
<head>
	<title>Contactos</title>
	<script type="text/javascript" src="/resources/js/jquery.min.js" /></script>
	<script type="text/javascript" src="/resources/js/json.min.js" /></script>
	<script type="text/javascript" src="/resources/js/jquery.pajinate.min.js" /></script>
	<link rel="shortcut icon" href="resources/img/favicon.ico" />
	<style type="text/css">
	.page_navigation , .alt_page_navigation{
		padding-bottom: 10px;
	}
	
	.page_navigation a, .alt_page_navigation a{
		padding:3px 5px;
		margin:2px;
		color:white;
		text-decoration:none;
		float: left;
		font-family: Tahoma;
		font-size: 12px;
		background-color:#DB5C04;
	}
	.active_page{
	background-color:white !important;
	color:black !important;
}	

.content, .alt_content{
	color: black;
}

.content li, .alt_content li, .content > p{
	padding: 5px
}

	</style>
</head>
<body>

<div id="paging_container1" class="container">
	<h2>Mis contactos</h2>
	<div class="page_navigation"></div>
	<ul class="content">
		#foreach($c in $contactos)
		 	<li>
		 		<p>
		 			$ModuloUtilidades.getNombreFormateado($c.nombreCompleto)<br>
		 			#if($!c.laboralActual)
		 				$!c.laboralActual.cargo en $!c.laboralActual.sucursalEmpresa.empresa.nombre
			 		#end
		 		</p>
		 	</li>
 		#end
	</ul>	

</div>	

<!-- CODIGO JQUERY -->
<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('#paging_container1').pajinate({
			items_per_page : 4,	
			nav_label_first : 'Inicio',
			nav_label_last : '&Uacute;ltimo',
			nav_label_prev : 'Anterior',
			nav_label_next : 'Siguiente'	
		});
		
	});
	
	$(document).ready(function(){
		$('li:odd, .content > *:odd').css('background-color','#FFD9BF');
	});

</script>

</body>
</html>