<script type="text/javascript" src="/resources/js/jquery.min.js" /></script>
<script type="text/javascript" src="/resources/js/json.min.js" /></script>
	
<form id="crear-discusion">
	T&iacute;tulo: <input type="text" name="titulo"><br>
	Resumen: <input type="text" name="resumen"><br/>
	Mensaje: <textarea name="detalle" cols="25" rows="10"></textarea>
	<input type="hidden" name="grupoExAlumnos.id" value="$!grupo.id"><br>
	<input type="submit" name="enviar" value="Crear">
</form>

<div style="color:red;">
	<p style="display:none;" id="e_titulo"></p>
	<p style="display:none;" id="e_detalle"></p>
	<p style="display:none;" id="e_grupo"></p>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
    	jQuery("#crear-discusion").submit(function() {
    		var discusion = jQuery(this).serializeObject();
    		
    		jQuery.postJSON("/grupos/crearDiscusion", discusion, function(data) {
    			if(typeof data["errores.exist"] != 'undefined'){
    			  if(typeof data["titulo.required"] != 'undefined')
    				  	jQuery('#e_titulo').show().html(data["titulo.required"]);
    			  if(typeof data["detalle.required"] != 'undefined')
    				  	jQuery('#e_detalle').show().html(data["detalle.required"]);
				  if(typeof data["grupoExAlumnos.required"] != 'undefined')
    				  	jQuery('#e_grupo').show().html(data["grupoExAlumnos.required"]);
    			}else{
    				if(data.flag == "true"){
    					alert("tu respuesta ha sido agregada con exito");
    				}
    				else
    					alert("ha ocurrido un error, intentalo mas tarde");
    			}
    		});
    		return false;				
    	});
    });  		
</script>