<form id="form-crear-grupo">
	Nombre: <input type="text" name="nombre"><br>
	Categor&iacute;a: <select name="tipoGrupoExAlumnos.codigo">
		#foreach($tipo in $tiposGrupo)
			<option value="$tipo.codigo">$tipo.nombre</option>
		#end
	</select><br>
	Descripci&oacute;n: <textarea name="descripcion" cols="20" rows="10"></textarea><br>
	Foto: <input type="text" name="foto"><br>
	Permisos: <select name="permisos">
				<option value="0">Privado</option>
				<option value="1">Abierto</option>
          	  </select><br>
	<input type="submit" value="enviar" name="crear"> <input type="button" id="cancelar" value="Cancelar">
</form>

<div style="color:red;">
	<p style="display:none;" id="e_nombre"></p>
	<p style="display:none;" id="e_permisos"></p>
	<p style="display:none;" id="e_tipoGrupo"></p>
</div>


<script type="text/javascript">
jQuery("#form-crear-grupo").submit(function() {
	var grupo = jQuery(this).serializeObject();
	
	jQuery.postJSON("/grupos/crearGrupo", grupo, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
		  if(typeof data["nombre.required"] != 'undefined')
			  	jQuery('#e_nombre').show().html(data["nombre.required"]);
		  if(typeof data["permisos.required"] != 'undefined')
			  	jQuery('#e_permisos').show().html(data["permisos.required"]);
		  if(typeof data["tipoGrupoExAlumnos.required"] != 'undefined')
			  	jQuery('#e_tipoGrupo').show().html(data["tipoGrupoExAlumnos.required"]);
		  if(typeof data["tipoGrupoExAlumnos.invalid"] != 'undefined')
			  	jQuery('#e_tipoGrupo').show().html(data["tipoGrupoExAlumnos.invalid"]);
		}else{
			if(data.flag == "true"){
				alert("tu grupo ha sido creado con exito");
				window.location.replace("/grupos");
			}
		}
	});
	return false;				
});

jQuery('#cancelar').click(function(){
	window.location.replace("/grupos");
});
</script> 