<html>
<head>
	<title>Editar web</title>
	<script type="text/javascript" src="/resources/js/jquery.min.js" /></script>
	<script type="text/javascript" src="/resources/js/json.min.js" /></script>
	<link rel="shortcut icon" href="resources/img/favicon.ico" />
</head>
<body>

<form name="editarWeb" id="editarWeb">
	URL: 
	<input type="text" name="url" value="$paginaWeb.url">  <br>
	DESCRIPCI&Oacute;N: 
	<input type="text" name="descripcion" value="$paginaWeb.descripcion">  <br>
	TIPO P&Aacute;GINA: 
	<select name="tipoPagina.codigo">
		#foreach($tipo in $tiposPagina)
			#if($tipo.codigo == $paginaWeb.tipoPagina.codigo)
		    	<option value="$tipo.codigo" selected="selected">$tipo.nombre</option>
		  	#else
		  		<option value="$tipo.codigo">$tipo.nombre</option>
  			#end
		#end
	</select><br>       
    <input type="hidden" name="paginaExAlumnoId" value="$paginaWeb.paginaExAlumnoId">                                     	
	<input type="submit" name="enviar" value="Enviar">
</form>

<div style="color:red;">
	<p style="display:none;" id="e_url"></p>
	<p style="display:none;" id="e_descripcion"></p>
	<p style="display:none;" id="e_tipoPagina"></p>
	<p style="display:none;" id="e_pagina"></p>
</div>


<!-- CODIGO JQUERY -->
<script type="text/javascript">	
	jQuery(document).ready(function() {
		jQuery("#editarWeb").submit(function() {
			var paginaExAlumno = jQuery(this).serializeObject();
			
			jQuery.postJSON("/perfil/editarPaginaWeb", paginaExAlumno, function(data) {
				if(typeof data["errores.exist"] != 'undefined'){
				  //aqui se manejan los errores, ustedes los imprimen como quieran y donde quieran, esto
				  //es solo un ejemplo de lo que se puede hacer con esto
				  if(typeof data["descripcion.required"] != 'undefined')
					  	jQuery('#e_descripcion').show().html(data["descripcion.required"]);
				  if(typeof data["url.required"] != 'undefined')
					  	jQuery('#e_url').show().html(data["url.required"]);
				  if(typeof data["tipoPagina.required"] != 'undefined')
					  	jQuery('#e_tipoPagina').show().html(data["tipoPagina.required"]);
				  if(typeof data["pagina.invalidEdit"] != 'undefined')
					  	jQuery('#e_pagina').show().html(data["pagina.invalidEdit"]);
				}else{
					//aqui se recibe todo en caso de exito, tambien se puede hacer lo que se desee, alguna
					//redireccion, mostrar un mensaje de exito, lo que sea, si se desea, con el jquery se puede
					//luego hacer desaparecer el formulario
					if(data.flag == "true")
						alert("tu pagina ha sido modificada con exito");
				}
			});
			return false;				
		});
	})  		
</script> 

</body>
</html>