h3{color:#666666;}
h1{color:#666666;}
#body {background: #da8b2f;}
.box-shadow-min {-moz-box-shadow: 0px 0px 20px #FFF; -webkit-box-shadow: 0px 0px 20px #FFF; box-shadow: 0px 0px 20px #FFF; }
.box-shadow-max {-moz-box-shadow: inset 0px 0px 10px #FFF; -webkit-box-shadow: inset 0px 0px 10px #FFF; box-shadow: inset 0px 0px 10px #FFF; }
.box-decoration {background-color:#FFF;border-color: silver; border-style: solid; border-width: 1px;-moz-border-radius:5px; -webkit-border-radius:5px; -webkit-transition-property: -webkit-box-shadow;-webkit-transition-duration: 0.25s;}
.box-decoration-activity {background-color:#FFF;border-color: #999999; border-style: solid; border-width: 3px; border-radius:5px; }
.box-decoration1 {background-color:#fc0;border-color:#fe5; border-style: solid;border-width: 0px; -webkit-transition-property: -webkit-box-shadow;-webkit-transition-duration: 0.25s;opacity: 0.9;filter:alpha(opacity=90);}
.box-decoration:hover {-moz-box-shadow: 0px 0px 14px #FFF; -webkit-box-shadow: 0px 0px 20px #FFF; box-shadow: 0px 0px 20px #FFF;opacity: 1;filter:alpha(opacity=100);}
.box-panel #search{background:#fff;border-color:#049CC6; border-style: solid; border-width: 2px;-moz-border-radius:5px; -webkit-border-radius:5px; }
.box-panel .button:hover {background-color:Silver;}
.grupos-recomendados-img {background:#ffffff; width:35px; height:35px;}
.grupos-recomendados-box {background:#d1d1d1; width:35px; height:35px; margin-right:15px;margin-left:5px;}
.grupos-recomendados a{color:#666666;margin:5px;}
.grupos-recomendados:hover a{color:#88BB22}
.activity-decoration table tr td a{color:#666666}
.activity-decoration:hover table tr td a{color:#049CC6}
.tool_button { margin:0;background: url("/resources/img/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;border-color: #BBBBBB #BBBBBB #999999;border-radius: 4px 4px 4px 4px;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 #F8F8F8;color: #999999;font: 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;overflow: hidden;padding: 2px 1px;text-shadow: 0 1px #F0F0F0;}
.tool_button:hover{background-color:url("/resources/img/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;background-position: 0 0;border-color: #049CC6;color: #049CC6;text-shadow: -1px -1px 0 #F0F0F0;box-shadow: 0 0 16px rgba(255, 170, 34, 0.85);}
.profile-progressbar{border: 1px solid #CCC; overflow: hidden;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;}
.profile-progressbar .good{border-right: 1px solid white;background: #060;}
.profile-progressbar .bad{background: #C00;}
.empleos{border-top: silver; border-bottom: transparent; border-right: transparent;border-left:transparent;border-style: solid; border-width: 1px; padding:3px;margin-left:3px;margin-right:3px;}
.empleos table td p {color:#666666;}
.empleos table td h4 {color:#666666;}
.empleos:hover{background: -moz-linear-gradient(center top , #FBFFFC, #FFFFCC) repeat scroll 0 0 transparent;}
.empleos:hover table td p {color:#999999;}
.empleos:hover table td h4 {color:#999999;}
#detailsearch{background:#fff; width:190px; height:30px; float:right;border-color: #049CC6; border-style: solid; border-width: 2px; margin-top:20px; margin-right:15px;border-radius: 4px 4px 4px 4px;}
#detailsearch input{color:#666666;}
.title-profesion{font-size: 14px; font-weight: bold;margin-top:5px; color: #666666}
.title-area{font-size: 12px;margin-top:10px;color:#88BB22; font-style:normal;}
.title-area:hover{color: #88BB22;}
.perfil-title{
	margin-top:10px;
	padding:5px;
	padding-left:0px;
	color:#0B3762;
	font-size:16px;
    border-width: 1px;
	border-style: transparent;
	border-color:#1061A1;
    border-bottom-style:solid;
}

.box-appear1 input{
	border-radius: 4px 4px 4px 4px;
    margin-bottom: 5px;
    margin-left: 100px;
    opacity: 0.7 !important;
    padding: 5px 20px;
    width: 256px;
	font: bold 12px Helvetica Neue,Arial,Sans-serif;
	color:#666666;
	border-style: solid;
	border-color:#d1d1d1;
    border-width: 1px; 
	text-align: center;
    text-decoration: none;
    overflow: visible;
    cursor: text;
    }

.btn-primary{
    background: -moz-linear-gradient(center top , #025F8D 0pt, #267696 100%) repeat scroll 0 0 transparent;
    border-color: #004A73;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    margin: 0;
    color: #FFFFFF;
    overflow: visible;
    padding: 3px 10px 2px;
    text-decoration: none ;
    vertical-align: top;
    width: auto;
}
.holding {
	overflow: hidden;
	padding: 10px 10px;
	}
.holding select{
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 20px;
    padding: 5px 6px;
	font: bold 12px Helvetica Neue,Arial,Sans-serif;
	color:#666666;
	border-style: solid;
	border-color:#049CC6;
    border-width: 2px; 
	text-align: center;
	opacity: 0.7 !important;
	margin-top:-20px;
	margin-bottom:15px; 
	margin-right:0px; 
	width: 170px; 
	float:right; 
	text-transform:capitalize
	
}

.detail-perfil{
	width:100%;
    padding: 5px 5px 5px 0px;
	font: bold 12px Helvetica Neue,Arial,Sans-serif;
	color:#666666;	
    text-decoration: none;
    overflow: visible;
    cursor: text;}

.detail-perfil h3{
			font-size:12px;
			color:#0B3762;
			font-style:italic;
			}
.detail-perfil a{
			color:#049CC6;
			font-style:italic;
			}
.detail-perfil h4{
			font-size:12px;
			color:#666666;
			font-weight: normal;
			}
.person-info h1{color:#1061A1;}
