/* header --------------------------------- */
.header { width:968px; height:120px; margin:0 auto;border-color:transparent; border-style: solid; border-width: 1px;margin-top:4px;}
.footer { height:70px; width:968px;margin:0 auto;margin-top:10px;margin-bottom:20px;}
.mini-box{ width:40px; height:34px; float:right; margin-right:20px;}
.header-box{ width:400px; height:40px; float:left;margin-left:50px;}

#searcheader{background:#fff; width:190px; height:30px; float:right;border-color: #FFAA22; border-style: solid; border-width: 2px; margin-top:5px; margin-right:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#main_nav {width: 958px; height:60px; position:relative; z-index:101; margin-top:65px; margin-bottom:20px; margin-left:5px ; margin-right:10px;background:url(images/navbg.png) repeat-x left top;opacity: 0.8;filter:alpha(opacity=80);}

input[type="text"] {padding: 4px 3px;border: 0px solid #CCCCCC;}
.search_btn {margin:0;background: url(images/i_search.png) repeat-x scroll 0 0 #FFFFFF;border-style: solid;border-width: 0px;color: #333333;cursor: pointer;display: inline-block;font: 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;overflow: hidden;padding: 3px 5px;text-shadow: 0 1px #F0F0F0;}
.activo{ background-position: 0 0;border-color: #049CC6;color: #049CC6;text-shadow: -1px -1px 0 #FFAA22;box-shadow: 0 0 8px rgba(255, 170, 34, 0.95);}
.inactivo{ background-position: 0 0;}



/* header */
#main_nav ul, #main_nav ul li, #main_nav ul ul { list-style: none; margin:0;}
#main_nav ul { width: 100%; position: relative; z-index: 597; float: left; font-family:Arial, Helvetica, sans-serif;}
#main_nav ul li {width:130px; height:40px;border-color: silver; border-style: solid; border-width: 0px;  float: left; line-height: 1.8em; vertical-align: middle; text-transform:uppercase; }
#main_nav ul li.hover, #main_nav ul li:hover { position: relative; z-index: 599; cursor: default; }
#main_nav ul ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#main_nav ul ul li { float: none; font-size:12px; }
#main_nav ul ul ul { top: 0; left: 99%; }
#main_nav ul li:hover > ul { visibility: visible; display:block; }
#main_nav ul { font-weight: bold; font-size:14px; }
#main_nav ul li a { padding: 10px 7px 10px 7px; display:block; }
#main_nav ul li a:hover { display:block; }
#main_nav ul li a:link, #main_nav ul li a:visited	{  text-decoration: none; display:block; }
#main_nav ul ul { width: 190px; margin-top:0px; }
#main_nav ul ul li ul li ul { margin-top:2px; margin-left:2px;  }
#main_nav ul ul li { font-weight: bold;  margin-top: 0px;   }
#main_nav li { font-size:11px;}
#main_nav ul ul li { float: none; font-size:12px;   }
#main_nav ul li ul li a { padding:10px 15px; line-height:normal; text-transform:capitalize; }
#main_nav ul li ul li { background:#5d5d5d; }
#main_nav ul li ul li.hover, #main_nav ul li ul li:hover,  #main_nav ul li ul li.current-cat:hover,  ul.dropdown li ul li.current-cat-parent:hover, ul.dropdown li ul li.current-cat:hover { color:#fff; background:#5d5d5d url(images/nav_bg_h.png) repeat-x left top;  }
#main_nav ul li a { color:#fff; background: url(1-default/nav_sepretor.png) no-repeat right top; border-left:none;  border-right:none; color:#660000; text-shadow:0px 0px 2px #FF6600;  }
#main_nav ul li a:hover, #main_nav li:hover a{ color:#fff; background:#5d5d5d url(images/nav_bg_h.png) repeat-x right top;  }
#main_nav li:hover a { color:#fff; background:#5d5d5d url(images/nav_bg_h.png) repeat-x right top;   text-shadow: none; text-shadow:1px 1px 1px #000;  }
#main_nav li:hover ul li a { color:#e6e6e6; background:#5d5d5d; border-left:none;  border-right:none; }


#lateral_bar {width: 200px; height:60px; position:relative; z-index:101; margin-top:65px; margin-bottom:20px; margin-left:5px ; margin-right:10px;background:#ffffff;opacity: 0.8;filter:alpha(opacity=80);}

/* header */
#lateral_bar ul, #lateral_bar ul li, #lateral_bar ul ul { list-style: none; margin:0;}
#lateral_bar ul { width: 100%; position: relative; z-index: 597; float: left; font-family:Arial, Helvetica, sans-serif;}
#lateral_bar ul li {width:148px; height:40px;border-color: silver; border-style: solid; border-width: 0px;  float: left; line-height: 1.8em; vertical-align: middle; margin-left:10px;}
#lateral_bar ul { font-weight: bold; font-size:14px; }
#lateral_bar ul li a { padding: 10px 7px 10px 7px; display:block; }
#lateral_bar ul li a:link, #lateral_bar ul li a:visited	{  text-decoration: none; display:block; }
#lateral_bar ul ul { width: 190px; margin-top:0px; }
#lateral_bar li { font-size:14px;}
#lateral_bar ul ul li { float: none; font-size:12px;   }
/*colores letras*/
#lateral_bar ul li a { color:#fff; border-left:none;  border-right:none; color:#999999;}
#lateral_bar ul li a:hover, #lateral_bar li:hover a{ color:#FF6600;}
#lateral_bar li:hover a { color:#FF6600;}
#lateral_bar li:hover ul li a { color:#e6e6e6; background:#5d5d5d; border-left:none;  border-right:none; }

#tabs ul {list-style: none;padding:0;margin: 0;}
#tabs ul li {display: inline;margin: 0 1px 0 0;font-size:14px;opacity: 0.65;}
#tabs ul li a {padding: 4px 3em;text-decoration: none;color: #333333;background: #fe5;}
#tabs ul li a:hover {background: #fc0;color: #540;}
#tabs #selected a {padding-bottom: 8px;font-weight: bold;color:#black; background: #fc0;}
#content {background: #fc0;padding: 0.1em;}
#content p {margin: 0;padding: 1em;background: white;}



/*  Header 2.0 */
#tray {
	position: relative;
	width: 960px;
	overflow: hidden;
	font: bold 90%/1 "tahoma",sans-serif;
	margin: 55px 0px 15px 0px;
	background: #ccc; /* for non-css3 browsers */ 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#999'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#bfbfbf)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #dfdfdf,  #bfbfbf); /* for firefox 3.6+ */ 
	padding: 5px 0px 5px 0px;
}
#tray ul {
	margin: 0 20px;
	list-style: none;
}
#tray li {
display: inline;
margin: 0px 5px 0px 5px;
}
#tray li a {
color: #FFF;
display: block;
float: left;
padding: 10px 20px 10px 18px;
margin: 0px 2px 0px 2px;
text-decoration: none;
}
#tray li a:hover {
color: white;
background: #90a739; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90a739', endColorstr='#7e9525'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#90a739), to(#7e9525)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #90a739,  #7e9525); /* for firefox 3.6+ */
-moz-box-shadow: 0px 0px 10px #999;
-webkit-box-shadow: 0px 0px 10px #999;
box-shadow: 0px 0px 10px #999;
}
#tray li#tray-active a{
color: white;
background: #90a739; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#90a739', endColorstr='#7e9525'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#90a739), to(#7e9525)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #90a739,  #7e9525); /* for firefox 3.6+ */
-moz-box-shadow: 0px 0px 10px #999;
-webkit-box-shadow: 0px 0px 10px #999;
box-shadow: 0px 0px 10px #999;
}
#search {
position: absolute;
top: 6px;
right: 20px;
}
#search div {
position: relative;
width: 185px;
}
#search #search-input {
position: absolute;
top: 0;
left: 0;
width: 150px;
height: 30px;
background: white;
overflow: hidden;
background: url("images/search-input.gif") 0 0 no-repeat;
}
#search #search-submit {
position: absolute;
top: 0;
right: 0;
width: 30px;
}
.noscreen {
display: none;
}
#search #search-input input {
color: #404040;
width: 134px;
margin: 4px 0px 0px 6px;
border: 0;
font: 100%/1 "arial",sans-serif;
outline:none;
}