body {font-family:Arial,Helvetica,sans-serif; font-size: 12px; background: Orange;background: -moz-radial-gradient(center, farthest-corner, White 35%,  Orange) no-repeat; background: -webkit-radial-gradient(White, White 35%, Orange) no-repeat; background-attachment: fixed;}

#publogin{ background-color: White; width:650px; height:100px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#publogin2{ background-color: transparent; width:430px; height:360px; float: left ; border-color: silver; border-style: solid; border-width: 0px; margin-top:20px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#bodylogin{ background-color: transparent; width:780px; height:400px; margin:0 auto;margin-top:15px; margin-bottom:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#login{ background-color: White; width:250px; height:355px; float: right ; border-color: silver; border-style: solid; border-width: 1px; margin-top:20px;margin-bottom:10px;margin-right:25px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#login-title {font-size: 18px; font-weight:bold; padding: 5px 0px 10px 0px; text-align: center;}
.data-label {font-weight:bold;}
.data-input {padding-bottom: 8px;}
#login td {padding-left: 5px;}
.box-shadow-min {-moz-box-shadow: 0px 0px 20px #999; -webkit-box-shadow: 0px 0px 20px #999; box-shadow: 0px 0px 20px #999; }
.box-shadow-max {-moz-box-shadow: inset 0px 0px 10px #CCC; -webkit-box-shadow: inset 0px 0px 10px #CCC; box-shadow: inset 0px 0px 10px #CCC; }


input[type="text"], input[type="password"], textarea {
    -moz-transition: border 0.2s linear 0s, -moz-box-shadow 0.2s linear 0s;
}
input[type="text"], input[type="password"], textarea {
    border: 2px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
}
.selected.button:focus, input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #FFAA22;
   box-shadow: 0 0 16px rgba(255, 170, 34, 0.85);
    outline: medium none;
}
.button {
    margin:0;
	margin-top:5px;
    margin-left:70px;
	margin-right:70px;
    background: url("/resources/img/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    border-color: #BBBBBB #BBBBBB #999999;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0 1px 0 #F8F8F8;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font: 12px/15px Helvetica Neue,Arial,"Lucida Grande",Sans-serif;
    overflow: hidden;
    padding: 5px 9px;
    text-shadow: 0 1px #F0F0F0;
}

.button:hover{
    background-color:url("http://a0.twimg.com/a/1303156728/phoenix/img/buttons/bg-btn.gif") repeat-x scroll 0 0 #DDDDDD;
    background-position: 0 0;
    border-color: #FFAA22;
    color: #FFAA22!important;
    text-shadow: -1px -1px 0 #F0F0F0;
	box-shadow: 0 0 16px rgba(255, 170, 34, 0.85);
}