/* TO-DO: 
	- Hacer lo mismo "minimized" pero para el resto de los elementos que faltan
	- Sacar por completo de este CSS colores, bordes, etc...
	- TESTING TESTING TESTING!
	*/

* {padding:0; margin:0;}
img {border-width: 0;}
#body {
    width:980px;/*
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #FFF;*/
	padding : 0px;
	margin: 0 auto;
}


/* minimized */
.content-body {position:relative; min-height: 100%; overflow: hidden; width:970px; margin:0 auto; height:auto !important; height:100%;}
.content-body2 {overflow: hidden;width:600px; margin:0 auto;}
.content-body3 {overflow: hidden; margin:0 auto;}
.container-big-left {overflow: hidden; width:680px; min-height:655px; float: left ; margin-bottom:10px;margin-left:10px;border-radius:4px;}
.container-small-right {overflow: hidden;  width:240px; min-height:730px; float: right ; margin-top:10px;margin-right:20px;border-radius:4px;}
.container-big-right {width:680px; min-height:655px; float: right ;margin-bottom:50px; margin-right:20px; margin-top:10px; background:#ffffff; padding:0px;border-radius:4px;}
.container-small-left{width:240px; float: left ;margin-bottom:10px;margin-left:20px; margin-top:10px;background:#ffffff;padding:0px;border-radius:4px;}
.box-activity-large {width:635px; min-height:210px; float:left;margin-top:15px;margin-left:30px;}
.box-activity-small {width:220px; min-height:250px; float: left ;margin-top:10px;margin-bottom:10px;margin-left:30px;}
.box-full {width:640px; min-height:190px;float: left;margin-top:10px;margin-bottom:10px;margin-left:30px;}
.box-table {left: 0; position: relative; top: 0;width:200px; /*height:190px;*/ float: left;margin:5px;}
.box-pub-square {width:190px; min-height:168px; float:right;margin-top:15px;margin-right:20px;margin-left:20px;}
.box-small-right {width:190px; min-height:210px; float:right;margin-top:15px;margin-right:20px;margin-bottom:10px;}
.social{width:90%;height:40px; float:center; margin:5px;-moz-border-radius:5px; -webkit-border-radius:5px;}
.box-panel { width:220px;min-height:260px; float: left ; margin-bottom:10px;margin-left:30px;}
.box-panel .button { width:180px; height:40px; float: left ; margin-top:6px;margin-left:10px;}
.box-panel #search {width:190px; height:30px; float: left ; margin-top:20px;margin-left:10px;margin-bottom:20px;}
.button-small {min-width:30px; min-height:25px; float:left;margin-top:20px; margin-bottom:10px;margin-left:20px;}
.container-inf{ width:400px; float: left ;margin-top:5px; margin-bottom:3px;margin-left:130px; }
.container-emp{ width:460px; height:300px; float: right ; margin-top:20px;margin-right:20px; }
.box-foto{ width:180px; height:120px; float: left;margin-top:5px;margin-bottom:5px;margin-left:5px;}
/* fin minimized*/
.container-perfil{ width:640px; float: left ;margin-top:15px; margin-bottom:10px; margin-left:10px;background:#ffffff;}
.container-foto{ width:130px; float: left ;margin-top:5px; margin-bottom:3px; margin-left:10px; border: 1px solid #1061A1;}
.container-foto img { border: 5px solid #FFFFFF; padding: 0;}
.container-agregar{ width:150px; float:left; margin-top:-30px; margin-bottom:3px; margin-left:12px;}
.profile-progressbar {height: 20px;margin: 2px 0;}
.profile-progressbar .good{float: left;height: 20px;}
.profile-progressbar .bad{float: right;height: 20px;margin-right: -1px;}
.box-appear{height:150px;padding:0 0 5px 0;outline: medium none;overflow: visible;position: fixed; width: 350px;z-index: 250;margin-left:10px;margin-top:80px;}
.box-appear1{min-height:200px;padding:0 0 5px 0;outline: medium none;overflow: hidden;position: absolute; width: 500px;z-index: 250;margin-left:50px;margin-top:80px;}
.person-info{width:440px;float:right;margin:10px;  padding:10px; }
.container-inf1{
	margin:10px; 
	margin-top:-5px; 
	background-color:#FFFFFF; 
	font-size:12px; 
	border:1px solid #d1d1d1; 
	padding:10px 5px 10px 5px; 
	text-align:justify; 
	color:#666666;}
.box-inf{
	display:none; 
	background-color:#EFF2F7; 
	left:450px; 
	top:300px;}
.title2{
	float: left; 
	font-weight: bold; 
	margin-top: 12px; 
	margin-left:12px; }
.login{
	position:fixed; 
	padding:5px; 
	border-bottom-right-radius:3px; 
	border-bottom-left-radius:0px; 
	right:0px; 
	top:0px; 
	z-index:1; 
	background-color:#0B3762;
	opacity:0.5;}
.login a{
	color:#FFFFFF;
	text-decoration: none;}
.login a:hover{
	text-shadow: 0px 0px 14px #FFF;
	text-decoration: none;}
.login:hover{
	opacity:1;
	/*-moz-box-shadow: 0px 0px 14px #FFF; 
	-webkit-box-shadow: 0px 0px 20px #FFF; 
	box-shadow: 0px 0px 20px #FFF;*/
	filter:alpha(opacity=100);}
.log-perfil{
	right:44px;
	border-bottom-left-radius:3px; 
	border-bottom-right-radius:0px; }
.box-small-right1 {width:220px; height:280px; float:right;margin-top:15px;margin-right:10px;margin-bottom:10px;}
.search-link a{
	width:100px;
	height:19px;
	background-image:url(images/SearchButton.png);
	background-position:center center;
	background-repeat:no-repeat;
	border:none;
	line-height:10px;
	vertical-align:absmiddle;
	display:block;
	color:#0b3762;
}
.search-link a:hover {
	background-image:url(images/SearchButtonOver.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:#ffffff;
}
.search-page-input{
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 5px;
	width: 500px;
	background: white;
	border: 1px solid #D1D1D1;
	overflow-x: hidden;
	overflow-y: auto;
	padding:5px;
}
.search-page-input input{
	color:#999999;
}