    * {
            padding:0;
            margin:0;
    }
    body {
            font-size: 76%;
    }
    img {
            border-width: 0;
    }
body {
	background-color: transparent;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	margin-left : auto;
	margin-right : auto;
	padding : 0px;
	margin-bottom:5px;
	margin-left: 80px;
	margin-right: 80px;
	margin-top: 5px;
	
}
/* header --------------------------------- */
#header { width:978px; height:120px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#searchheader{ width:200px; height:40px; float:right;border-color: silver; border-style: solid; border-width: 1px; margin-top:5px; margin-right:5px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#pubheader{ min-width: 400px; height:40px; float:right;border-color: silver; border-style: solid; border-width: 1px; margin-top:5px; margin-right:80px;margin-left:80px;}
#fotoheader{ width:200px; height:40px;  float:left; border-color: silver; border-style: solid; border-width: 1px; margin-top:5px; margin-left:5px; -moz-border-radius:5px; -webkit-border-radius:5px; }

/* main_nav,footer,baraux --------------------------------- */
#footer { width:978px; height:70px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:10px;margin-bottom:20px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#main_nav {width: 100%; height:60px; position:relative; z-index:101; margin-top:65px; margin-bottom:20px; margin-left:7px ; margin-right:7px -moz-border-radius:5px; -webkit-border-radius:5px;}
#baraux{ width:978px; height:46px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#inin{width:40px; height:40px; float:right;border-color: silver; border-style: solid; border-width: 1px; margin-top:2px; margin-bottom:2px; margin-right:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#boton{width:80px; height:25px; float:left;border-color: silver; border-style: solid; border-width: 1px; margin-top:20px; margin-bottom:10px;margin-left:20px;-moz-border-radius:5px; -webkit-border-radius:5px;}

/* Inicio --------------------------------- */
#bodyinicio { width:978px; height:700px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:10px; margin-bottom:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#barlateralDinicio{ width:250px; height:670px; float: right ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-right:10px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#barlateralIinicio{ width:690px; height:670px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:10px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#boxlateral{ width:190px; height:210px; float:right;border-color: silver; border-style: solid; border-width: 1px; margin-top:15px;margin-right:30px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#activityinicio{ width:405px; height:210px; float:left;border-color: silver; border-style: solid; border-width: 1px; margin-top:15px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#recomendadosinicio{ width:640px; height:200px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#principalinicio{ width:640px; height:200px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#pubinicio{ width:190px; height:168px; float:right;border-color: silver; border-style: solid; border-width: 1px; margin-top:15px;margin-right:30px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}

/* login --------------------------------- */
#publogin{ width:650px; height:100px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:10px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#publogin2{ width:400px; height:355px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:20px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#bodylogin{ width:780px; height:400px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:15px; margin-bottom:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#login{ width:250px; height:355px; float: right ; border-color: silver; border-style: solid; border-width: 1px; margin-top:20px;margin-bottom:10px;margin-right:25px;-moz-border-radius:5px; -webkit-border-radius:5px; }

/* Empresas --------------------------------- */
#bodyempresa{ width:978px; height:700px; margin:0 auto;border-color: silver; border-style: solid; border-width: 1px;margin-top:15px; margin-bottom:30px;-moz-border-radius:5px; -webkit-border-radius:5px;}
#empresa{ width:580px; height:150px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-left:10px;margin-left:40px;-moz-border-radius:10px; -webkit-border-radius:10px; }
#barlateralDempresa{ width:660px; height:670px; float: right ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-right:20px;-moz-border-radius:5px; -webkit-border-radius:5px; }

/* barra lateral izquierda --------------------------------- */
#barlateralD{ width:660px; height:670px; float: right ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-right:20px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#barlateralI{ width:260px; height:670px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:10px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#activity{ width:200px; height:150px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#panel{ width:200px; height:300px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#pub{ width:200px; height:150px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-bottom:10px;margin-left:30px;-moz-border-radius:5px; -webkit-border-radius:5px; }
#box{ width:180px; height:40px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:10px;margin-left:10px;-moz-border-radius:10px; -webkit-border-radius:10px; }
#search{ width:180px; height:40px; float: left ; border-color: silver; border-style: solid; border-width: 1px; margin-top:20px;margin-left:10px;margin-bottom:20px;-moz-border-radius:10px; -webkit-border-radius:10px; }






















/* Categories navigation --------------------------------- */
#main_nav ul, #main_nav ul li, #main_nav ul ul { list-style: none; margin:0;}
#main_nav ul { width: 100%; position: relative; z-index: 597; float: left; font-family:Arial, Helvetica, sans-serif;}
#main_nav ul li {width:191px; height:40px;border-color: silver; border-style: solid; border-width: 1px;  float: left; line-height: 1.8em; vertical-align: middle; text-transform:uppercase; }
#main_nav ul li.hover, #main_nav ul li:hover { position: relative; z-index: 599; cursor: default; }
#main_nav ul ul { visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 598; width: 100%;}
#main_nav ul ul li { float: none; font-size:12px; }
#main_nav ul ul ul { top: 0; left: 99%; }
#main_nav ul li:hover > ul { visibility: visible; display:block; }

/* Default CSS Drop-Down Menu Theme*/
#main_nav ul { font-weight: bold; font-size:14px; }
#main_nav ul li a { padding: 10px 7px 10px 7px; display:block; }
#main_nav ul li a:hover { display:block; }
#main_nav ul li a:link, #main_nav ul li a:visited	{  text-decoration: none; display:block; }


/* -- level mark -- */
#main_nav ul ul { width: 190px; margin-top:0px; }
#main_nav ul ul li ul li ul { margin-top:2px; margin-left:2px;  }
#main_nav ul ul li { font-weight: bold;  margin-top: 0px;   }


#main_nav li { font-size:11px;}
#main_nav ul ul li { float: none; font-size:12px;   }
#main_nav ul li ul li a { padding:10px 15px; line-height:normal; text-transform:capitalize; }


*---------Category Navigation for PAGES---------  */
#main_nav ul li ul li { /* border-style: solid; border-width: 1px; border-color: #ccc #ccc #ccc;*/ background:#5d5d5d; }
#main_nav ul li ul li.hover, #main_nav ul li ul li:hover,  #main_nav ul li ul li.current-cat:hover,  ul.dropdown li ul li.current-cat-parent:hover, ul.dropdown li ul li.current-cat:hover { color:#fff; background:#5d5d5d url(1-default/nav_bg_h.png) repeat-x left top;  }
#main_nav ul li a { color:#fff; background: url(1-default/nav_sepretor.png) no-repeat right top; border-left:none;  border-right:none; color:#660000; text-shadow:0px 0px 2px #FF6600;  }
#main_nav ul li a:hover, #main_nav li:hover a{ color:#fff; background:#5d5d5d url(1-default/nav_bg_h.png) repeat-x right top;  }

#main_nav li:hover a { color:#fff; background:#5d5d5d url(1-default/nav_bg_h.png) repeat-x right top;   text-shadow: none; text-shadow:1px 1px 1px #000;  }
#main_nav li:hover ul li a { color:#e6e6e6; background:#5d5d5d; border-left:none;  border-right:none; }


#main_nav ul li.current-cat a, 
#main_nav ul li.current-cat-parent a, 
#main_nav ul li.current-menu-item a, #main_nav ul li.current_page_item a { background:#5d5d5d url(1-default/nav_bg_h.png) repeat-x right top; color:#fff; text-shadow:1px 1px 1px #000; }

#main_nav ul li.current-cat ul li a, 
#main_nav ul li.current-cat-parent ul li a, 
#main_nav ul li ul li a { background:#5d5d5d; color:#fff;  border-bottom:1px solid #707070; }

#main_nav ul li.current-cat ul li a:hover, 
#main_nav ul li.current-cat-parent ul li.current-cat a, 
#main_nav ul li.current-cat-parent ul li a:hover, 
#main_nav ul li ul li a:hover, 
#main_nav ul li ul.sub-menu li a, 
#main_nav ul li ul.sub-menu ul.sub-menu li a, #main_nav ul li.current-cat-parent ul li.current-cat ul li a:hover { background:#3b3b3b; color:#fff; }

#main_nav ul li ul li.current-cat-parent a { background:#3b3b3b; }
#main_nav ul li ul li.current-cat-parent ul li.current-cat a { background:#3b3b3b !important; }
#main_nav ul li ul li.current-cat-parent ul li a, #main_nav ul li ul li.current-cat ul li a { background:#5d5d5d !important; }
 #main_nav ul li ul li.current-cat ul li ul li a:hover { background:#3b3b3b !important; }

#main_nav ul li ul.sub-menu li a:hover,  
#main_nav ul li ul.sub-menu li.current-menu-item a, 
#main_nav ul li ul.sub-menu ul.sub-menu li a:hover, 
#main_nav ul li ul.children li.current-cat-parent li a {  background:#3b3b3b; color:#fff;   }

