/* CSS Document */
/*------------------------------------------------------------------------Generales-----*/

html {
	width:100%;
	height:100%;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:lighter;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
#MainCont {
	width:1024px;
	height:100%;
	margin:auto;
}
a, a:hover, a:focus, a:visited, input[type="submit"] {
	text-decoration:none;
	color: #0B3762;
	outline:none;
	border:none;
}

.link-editar{
	text-decoration:none;
	color: #0B3762;
	outline:none;
	border:none;
	font-size:10px;
}

.link-editar:hover{
	text-decoration:underline;
	color: #0B3762;
	outline:none;
	border:none;
	font-size:10px;		
}
.NormalButton {
	background-image:url(images/botonUpBg.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:#0b3762;
	display:block;
	width:100px;
	height:25px;
	line-height:25px;
	font-size:12px;
	font-weight:bold;
	text-align:center;	
}

.NormalButton:hover {
	background-image:url(images/botonDownBg.png);
	background-position:center center;
	background-repeat:no-repeat;
}
img, a img, img a {
	border:none;
}	
h1 {
	font-size:18px;
}
h2 {
}
h3 {
}
h4 {
}



/*------------------------------------------------------------------------Header-----*/

#Header {
	background-image:url(images/HeaderBgLogos.png);
	background-position:bottom center;
	background-repeat:no-repeat;
	width:1024px;
	height:170px;
}

#TopMenu {
	margin:auto;
	width:100%;
}
ul#TopMenuLinks {
	margin:auto;
	padding:0;
	float:none;
	width:100%;
	list-style-type:none;
	margin-left:270px;
}
ul#TopMenuLinks li {
	float:left;
	margin-right:5px;
	padding-top:3px;
}
ul#TopMenuLinks li a {
	color:#0b3762;
	text-decoration:none;
}
ul#TopMenuLinks li a:hover {
	color:#049CC6;
	text-decoration:none;
}



/*------------------------------------- Cambiar imagen de fondo para identidad de Departamentos y portales */
.IdentityLogos {
	width:700px;
	margin:auto;
	height:143px;
	clear:both;
	position:relative;
	float:left;
	background-color:#FF0000;
	left:187px;
	top:8px;
	/*------------- Hack IE 7 */
	*left:25px;
	*float:none;
}

/*------------------------------------------------------------------------Testing Slider-----*/
.window {
	float: left;
    height: 143px;
    overflow: hidden;
    position: relative;
    width: 700px;
	vertical-align:bottom;
	bottom:0;
}
.image_reel {
	position: relative;
	top: 2; 
	left: 0;
	height:143px;
}
.image_reel a {
	cursor:default;
}
.image_reel img {
	float: left;
	vertical-align:middle;
	margin:auto;
}

/*--Paging Styles--*/
.paging {
    display: none;
    float: left;
    height: 21px;
    line-height: 25px;
    position: relative;
    right: -721px;
    text-align: left;
    top: -20px;
    width: 90px;
    z-index: 1000;
}
.paging a {
	background-image:url(images/SlideOff.png);
	background-position:center center;
	background-repeat:no-repeat;
	padding: 3px;
	float:left;
	margin-left:8px;
	width:10px;
	height:10px;
	display:block;
	padding-top:8px;
}
.paging a.active {
	background-image:url(images/SlideOn.png);
	background-position:center center;
	background-repeat:no-repeat;
}
/*------------------------------------------------------------------------PrimeCont-----*/

#PrimeCont {
	background-image:url(images/MainContBg.png);
	background-position:top center;
	background-repeat:repeat-y;
	width:1024px;
	min-height: 750px;
	text-align:left;
}

#MenuX {
	background-image:url(images/MenuBg.jpg);
	background-position:center center;
	background-repeat:repeat-x;
	height:27px;
	width:999px;
	vertical-align:middle;
	margin-left:12px;
	text-align:center;
	margin-bottom:10px;
}

ul#MenuXlinks {
    float: none;
    list-style-type: none;
    margin: auto;
    position: relative;
    top: 1px;
    width: auto;

}


ul#MenuXlinks li {
    border-right: 1px solid #aaa;
    float: left;
    height: 24px;
    margin: auto;
    padding-top: 0;
    text-align: center;
    width: 135px;
}

ul#MenuXlinks li a {
	color:#0b3762;
	text-decoration:none;
	font-size:10px;
	text-transform:uppercase;
	line-height:25px;
	margin:auto;
	font-weight:bold;
}
ul#MenuXlinks li:hover a{
	color:#ffffff;
	background-color:#0b3762;
	display:block;
	width:100%;
	height:100%;
}

ul.SubMenuX {
	list-style-type:none;
	margin:auto;
	float:none;
	padding:0;
	display:none;
	
}

ul#MenuXlinks li:hover ul.SubMenuX {
	display:block;
}
ul#MenuXlinks li ul.SubMenuX li {
	margin:auto;
	padding:0;
	top:0;
	position:relative;
	outline: medium none;
	overflow: visible;
	z-index: 250
}
ul#MenuXlinks li ul.SubMenuX li:hover a {
	background-image:url(images/MenuBg.jpg);
	background-position:center center;
	background-repeat:repeat-x;
	color:#0b3762;
}

/*--------------------Barra Busqueda*/
.SearchBar {
	width:auto;
}
.SearchBar td.Separador {
	border-left:1px solid #999999;
}
.SearchBar table td, .SearchBar table tr {
	vertical-align:middle;
	margin:auto;
	height:20px;
	position:relative;
}
.SearchBar input[type="text"], .SearchBar select {
	font-size:10px;
	color:#666666;
	top:0;
	position:relative;
} 
.SearchBar a {
	width:100px;
	height:19px;
	background-image:url(images/SearchButton.png);
	background-position:center center;
	background-repeat:no-repeat;
	border:none;
	line-height:19px;
	vertical-align:absmiddle;
	display:block;
	color:#0b3762;
}
.SearchBar a:hover {
	background-image:url(images/SearchButtonOver.png);
	background-position:center center;
	background-repeat:no-repeat;
	color:#ffffff;
}
.SearchBar select {
	width:120px;
}

/*------------------------------------Campo Busqueda Empleo */
.SearchField {
	background-image:url(images/barraBusquedaBg.jpg);
	background-repeat:repeat-x;
	background-position:center;
	width:630px;
	height:90px;
	display:block;
	margin-left:25px;
	float:left;
}
.Lupa {
	background-image:url(images/LupaIcon.png);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	width:28px;
	height:36px;
	float:left;
	margin-left:10px;
	margin-top:10px;
}
.SearchInput {
	color: #FFFFFF;
    height: 105px;
    margin-left: 40px;
    width: 560px;
	text-align:left;
}

.SearchInput select, .SearchInput input[type="text"] {
	font-size:10px;
	line-height:12px;
}
.SearchInput input[type="text"] {
	width:300px;
}
.SearchInput h1 {
	margin-bottom:5px;
	margin-top:5px;	
}
.SearchInput p {
	margin-bottom:5px;
	margin-top:5px;
	text-indent:25px;	
}

.footerBG{
    background: url("/resources/css/images/FooterBg.png") no-repeat scroll center bottom transparent;
    display: block;
    height: 25px;
    margin: auto auto 25px;
    width: 1024px;
}
.LoginField {
	/*background-image:url(images/barraLoginBg.jpg);*/
	background-repeat:repeat-x;
	background-position:center center;
	display:block;
	width:570px;
	height:238px;
	
	
}
.arrow {
	border: 1px solid #CCC; 
    height: 17px;
    margin-left: 7px;
    margin-top: 5px;
    position: absolute;
    width: 17px;
    z-index: 999;
}

/*------------------------------------------------------------------------Menu Lateral Class-----*/
.LateralMenu {
    margin-left: 25px;
	margin-bottom:10px;
	width:200px;
	float: left;
	clear:left;
	letter-spacing:0.06em;
}
.LateralMenu .HeaderMenu span { 
	background-image:url(images/BottonMenuSide-2.png);
	background-position:center center;
	background-repeat:no-repeat;
	font-weight:bold;
	line-height:20px;
	color:#FFFFFF;
	display:block;
	padding-left:15px;
}
.LateralMenu .HeaderMenu a {
	background-image:url(images/BottonMenuSide.png);
	background-position:center center;
	background-repeat:no-repeat;
	font-weight:bold;
	line-height:20px;
	padding-left:15px;
	color:#FFFFFF;
	display:block;
}
.LateralMenu .HeaderMenu a.active {
	background-image:url(images/BottonMenuSideActive.png);
	background-position:center center;
	background-repeat:no-repeat;
}
.LateralMenu .ListMenu {
	display:none;
}

.LateralMenu ul {
	padding:0;
	margin:0;
}
.LateralMenu li {
	list-style-type:none;
}
.LateralMenu li {
	color:#444444;
	line-height:20px;
	border-bottom:1px solid #ffffff;
	background-color:#eee;
}
.LateralMenu li a{
	padding-left:15px;
	display:block;
	color:#444444;
}
.LateralMenu li a:hover{
	padding-left:15px;
	display:block;
	color:#222222;
}
.LateralMenu ul li:hover, .LateralMenu ul li:active, .LateralMenu ul li:focus  {
	background-color:#cccccc;
}
.SubMenuLeft {
 	visibility:hidden;
	position:absolute;
}
.LateralMenu ul.Menu li:hover ul.SubMenuLeft {
	visibility:visible;
	position:absolute;
	float:left;
	margin-left:200px;
	margin-top:-20px;
	width:200px;
	height:auto;
	z-index:100;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}

/*------------------------------------------------------------------------Footer-----*/

#Footer {
	background-image:url(images/FooterBn.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	bottom:0;
	position:fixed;
	float:left;
	width:100%;
	height:17px;
	cursor:pointer;
}
#Footer .ContFooter {
	display:block;
}
#Footer #EndClass {
	color:#FFFFFF;
}
#Footer:hover {
	background-image:url(images/FooterBg.jpg);
	background-position:top center;
	background-repeat:repeat-x;
	bottom:0;
	position:fixed;
	float:left;
	width:100%;
	height:125px;	
}
#Footer:hover #EndClass {
	color:#444444;
}
.ContFooter {
	width:950px;
	margin:auto;
	margin-top:10px;
}
.ContFooter p {
	font-weight:bold;
	color:#116bb0;
	margin:0;
	margin-top:10px;
}
.ContFooter .Alinks {
	float:left;
	margin-right:70px;
	display:block;
	margin-bottom:8px;
	*margin-bottom:0px;
}
.ContFooter .Alinks ul {
	font-weight:bold;
	font-size:9px;
	line-height:13px;
	color:#444444;
	margin:0;
	list-style-type:circle;
	letter-spacing:1px;
	*text-indent:40px;	
}
.ContFooter .Alinks ul a {
	color:#444444;
}

.ContFooter .Alinks ul a:hover {
	color:#990000;
	text-decoration:underline;
}

#EndClass {
	clear:both;
	width:100%;
	font-size:9;
	bottom:1px;
	position:absolute;
	*height:25px;
	*color:#ffffff;
}	
#EndClass hr, #EndClass p {
	margin:auto;
	clear:both;
	width:1000px;
	text-align:center;
	letter-spacing:1px;
}
#EndClass p {
	*bottom:1px;
	*position:absolute;
	*width:100%;
}

/* Codigo nuevo! */

/*-----  mini perfil principal  -----*/


.small-perfil {     
	height: 180px;
	width:550px;
	background: transparent;
	margin: 0 auto;
	float:left;
	margin-left:20px;
	margin-top:-20px;     
}


/*----- imagen mini perfil principal  -----*/   


.small-perfil .perfil-img{ 
	font: bold 12px Arial, Helvetica, sans-serif;
	width:98px; 
	height:140px;
	float: left;
	margin-top:25px;
	margin-bottom:5px; 
	margin-left:20px;
	border: 1px solid #d1d1d1;
	border-radius:4px;
	-moz-box-shadow:  0 0 3px #d1d1d1;
	-webkit-box-shadow: 0 0 3px #d1d1d1;
	box-shadow: 0 0 3px #d1d1d1;
	overflow:hidden;        
}
	
.small-perfil .perfil-img:hover{
	
	box-shadow: 0 0 2px #1C602F;            
}

.small-perfil .perfil-img .boton {
	margin-top:3px; 
	font-size: 10px; 
	padding: 3px;
	margin-left:17px; 
	margin-bottom:-6px;"
}       
	
.small-perfil .perfil-img  img { 
	margin:5px;
	border: 1px solid #D1D1D1; 
	padding: 3px;       
}
	
.small-perfil .perfil-img  p { 
	padding:0px; 
	margin:0px; 
	margin-left:10px;
	color:#049CC6;
	font:12px;      
}
	


.title{
	margin-top:5px; 
	font-size: 14px;
	color: #666666
}


/*-----Informacion mini perfil principal  -----*/


.perfil-info{
	width:398px;
	float:right;
	margin:10px;
	margin-right:10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.small-perfil .perfil-info h3{
	color: #1061A1;
	margin-top: 25px;
	margin-bottom: 9px;
}

.small-perfil .perfil-info p{
   margin: 0px;
   margin-bottom: 3px;
   padding: 0px;
}
	
.small-perfil .perfil-info a{
	font-size: 10px; 
	color: #049CC6; 
}


/*----- Box con info del perfil-----*/  

	
.box-right{
	width:400px;
	height:150px;
	float:right;
	margin:7px;
	margin-top:5px;
	margin-right:40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background:#EFF2F7;
	overflow:hidden;
	border-radius:5px;
	-moz-box-shadow:  2px 2px #888;
	-webkit-box-shadow: 2px 2px #888;
	box-shadow: 0px 0px 2px 2px #888;
}

.profile-progressbar{
	width:150px;
	height: 20px;
	margin: 2px 0;
	margin-left:20px;
	margin-top:5px;
	border: 1px solid #CCC; 
	overflow: hidden;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#ffffff;
}
    
.box-right .title{
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:#0B3762!important;
	width:200px;
	height:30px;
	margin-top:-20px;
}

.box-right .box{
	float:right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:#0B3762!important;
	width:360px;
	height:100px;
	margin-right:20px;
	background:#ffffff;
}
	
.box-right .box p{
	font-size: 14px;
	margin:5px;
	float:left;
	color:#0B3762!important;
}
    
.box-right .box a{
	font-size: 12px;
	margin:5px;
	margin-right:20px;
	float:right;
	color:#666666!important;
}

.box-right .box img{
	border:transparent;
}
        
.profile-progressbar .good{
	float: left;
	height: 20px;
	border-right: 1px solid #666666;
	background:#0076A8;/*default */
	background: -moz-linear-gradient(center top , #BCE1EE, #0076A8) repeat scroll 0 0 ;/* firefox */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BCE1EE', endColorstr='#0076A8'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#BCE1EE), to(#0076A8)); /* for webkit browsers */
}
        
.profile-progressbar .bad{
	background:#FFFFFF;/*default */
	float: right;
	height: 20px;
	margin-right: -1px; 
}
	
.body-content {
	margin: 0 auto;
	margin-top:100px;
	margin-bottom:5px;
	min-height: 500px;
	width:944px;
	background:#EFF2F7;
	overflow:hidden;
	border-radius:5px;
	-moz-box-shadow:  2px 2px #888;
	-webkit-box-shadow: 2px 2px #888;
	box-shadow: 0px 0px 2px 2px #888;
}
	
.side-bar {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	min-height: 490px;
	width: 400px;
	background: white;
	float: right;
	border: 1px solid #D1D1D1;
	overflow-x: hidden;
	overflow-y: auto;
}

.side-bar2 {
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 400px;
	background: white;
	border: 1px solid #D1D1D1;
	overflow-x: hidden;
	overflow-y: auto;
}

.fotoperfil-detail {
	width: 80px;
	float: right;
	margin: 5px;
	margin-right: 30px;
	padding: 3px;
	border-style: solid;
	border-color: #0B3762;
	border-width: 1px;
	box-shadow: 0 0 2px #1C602F;
}

.perfil-detail {
	width: 250px;
	float: left;
	margin: 10px;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
}

.box-detail {
	width: 380px;
	height: 15px;
	float: right;
	margin: 10px;
	margin-bottom: 20px;
}

.perfil-detail a {
	color: transparent;
}

.perfil-detail h3 {
	color: #0B3762;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 14px;
}

.perfil-detail p {
	margin: 0px;
	margin-bottom: 3px;
	padding: 0px;
	font-size: 12px;
}

.perfil-detail h4 {
	color: #049CC6;
	font-size: 10px;
}

.box-detail a {
	padding: 0px;
	margin: 0px;
	color: #049CC6;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}


.box-detail p {
	padding: 0px;
	margin: 0px;
}

.box-detail h4 {
	padding: 0px;
	margin: 0px;
	color: #999;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	float: right;
}

.box-contacto {
	margin: 0 auto;
	left: 0;
	position: relative;
	top: 0;
	width: 270px;
	float: left;
	margin-bottom: 1px;
}

.box-contacto a {
	color: transparent;
}

.decoration {
	background-color: white;
	border-color: silver;
	border-style: solid;
	border-width: 1px;
	border-right: transparent;
	border-left: transparent;
	border-top: transparent;
}
.decoration table td {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.decoration table td img {
	padding: 4px;
	border: 1px solid white;
}

.decoration table td h3 {
	margin: 0 auto;
	color: #0B3762;
	font-size: 14px;
	cursor: text;
}
.decoration table td h4 {
	margin: 0 auto;
	color: #666;
	font-size: 12px;
	cursor: text;
}
.decoration table td h5 {
	margin: 0 auto;
	color: #666;
	font-size: 10px;
	cursor: text;
}
.decoration table td h6 {
	margin-top: -10px;
	margin-left: 0px;
	color: #8B2;
	font-size: 8px;
}
.decoration table td h5:hover,.decoration table td h4:hover,.decoration table td h3:hover{
	color:#0B3762;
}

.decoration:hover {
	background: #EFF2F7;        
}

.decoration:hover table td img{border: 1px solid #999;}
.decoration table td img:hover {
	border-color:#0B3762;
	border-style: solid; 
	border-width: 1px;
	-moz-box-shadow:  0 0 2px #2398b9;
	-webkit-box-shadow: 0 0 2px #2398b9;
	box-shadow: 0 0 2px #2398b9;
}

.box-sidebar {
	margin-top: 5px;
	margin-left: 10px;
	width: 200px;
	float: left;
	clear: left;
	letter-spacing: 0.06em;
}

.noscreen {
	display: none;
}

.box-sidebar input {
	border-radius: 5px 5px 5px 5px;
	color: #666;
	cursor: pointer;
	display: block;
	font: 12px Helvetica Neue,Arial,Sans-serif;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	float: left;
	outline: none;
}
.box-sidebar .title {
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #0B3762!important;
	width: 200px;
	height: 30px;
	margin: 10px;
	margin-bottom: 0px;
}
.side-bar .LateralMenu {margin-left: 10px;}

/*----- Boton Verde-----*/	
	
	
.green_btn {
	background:#80CC26;/*default */
	background: -moz-linear-gradient(center top , #80CC26, #258041) repeat scroll 0 0 transparent;/* for firefox */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80CC26', endColorstr='#258041'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#80CC26), to(#258041)); /* for webkit browsers */
	border: 0 solid #163E6A;
	border-radius: 4px;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.1;
	vertical-align: middle;
	white-space: nowrap;
	padding: 5px;	
}

.green_btn:hover{
	background:#91DA38;/*default */
	background: -moz-linear-gradient(center top , #91DA38, #258041) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91DA38', endColorstr='#258041'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#91DA38), to(#258041)); /* for webkit browsers */
	box-shadow: 0 0 4px #1C602F;
	text-decoration: none !important;
}
	
/*----- Boton azul-----*/		
	
.blue_btn {
	background:#73B8DB;/*default */
	background: -moz-linear-gradient(center top , #73B8DB, #4393BB) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73B8DB', endColorstr='#4393BB'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#73B8DB), to(#4393BB)); /* for webkit browsers */
	border: 0 solid #163E6A;
	border-radius: 4px;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.1;
	padding: 1px 3px;
	vertical-align: middle;
	white-space: nowrap;
}

.blue_btn:hover {
	box-shadow: 0 0 5px #163E6A;
	text-decoration: none !important;
	}

	
/*----- Sidebar right-----*/	

.overlay{
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-transition: 0.25s opacity;
	background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
	bottom: 0;
	display: -webkit-box;
	left: 0;
	padding: 20px;
	padding-bottom: 130px;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10;
}

#dialogPopUp {
	background-color: white;
	margin-bottom: 6px;
	margin-top: 6px;
	width: 500px;
	-webkit-box-shadow: 0px 5px 80px #505050;
	background: white;
	border: 1px solid #BCC1D0;
	border-radius: 2px;
	min-width: 400px;
	padding: 0;
	position: relative;
}

#popUpArea h1 {
	background: -webkit-linear-gradient(white, #F8F8F8);
	border-bottom: 1px solid rgba(188, 193, 208, .5);
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px 8px 15px;
	color: #53637D;
	text-shadow: white 0 1px 2px;
	margin: 0px;
}

#popUpArea .contentArea {
	padding: 10px 15px;
}

#popUpArea .actionArea {
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: end;
	border-top: 1px solid rgba(188, 193, 208, .5);
	display: -webkit-box;
	padding: 12px;
}

#popUpArea .actionArea button {
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	border: 1px solid #AAA;
	color: #444;
	font-size: 12px;
	margin-bottom: 0px;
	min-width: 4em;
	padding: 3px 12px 3px 12px;
}

#popUpArea .actionArea button:hover {
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  	background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
  	border-color: #999;
  	color: #222;
}

#popUpArea .actionArea button:active {
  	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  	background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
 	color: #333;
}


.box-detail-perfil {
	margin: 10px;
	margin-bottom: 20px;
	float:left;
	width:180px;
 	height:30px;
 	margin-top:0px;
}

.box-detail-perfil a {
	padding: 0px;
	margin: 0px;
	color: #049CC6;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}


.box-detail-perfil p {
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	font-size:13px;
}

.box-detail-perfil h4 {
	padding: 0px;
	margin: 0px;
	color: #999;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 5px;
	float: right;
}

.fieldset-perfil{
	padding:10px;
	margin: 10px;
	margin-bottom: 20px;
	margin-top:0px;
	float:left;
	width:620px;
 	min-height:20px;
 	font-family:Arial, Helvetica, sans-serif;
 	font-weight: bold;
}
.fieldset-perfil legend{
	color:#0B3762;
	font-size:18px;
	font-style:italic;
}

.publicity-buzon{
	width:220px;
	height:400px; 
	float: left ; 
	margin:10px;
	background:#ffffff;
	margin-top:10px;
	margin-bottom:55px;
}

.panel-buzon{
	width:100%;
	height:100px; 
	float: left ; 
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
 	color:#0B3762;
 	background:#ffffff;
}

.title-buzon{
	background-image:url(images/buzonstyle.png);
	width:100%;
	height:30px; 
	float: left ; 
	text-indent:20px;
	font-style:italic;
	color:#88BB22;
	font-weight:bold;
}

.title-buzon:hover{
	background-image:url(images/buzonhover.png);
	font-style:italic;
}

.title-buzon a{
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
 	color:#666666;

}

.title-buzon a:hover{
 	color:#88BB22;
}


#Topbuzon {
	margin:auto;
	margin-left:0px;
	height:25px;
	border-bottom: 2px solid #049CC6;
}

ul#Topbuzonlinks {
	margin:auto;
	padding:0;
	float:none;
	width:100%;
	list-style-type:none;
	margin-left:0px;
	
}
ul#Topbuzonlinks li {
	width:85px;
	float:left;
	margin:0px;
	margin-top:2px;
	padding-top:3px;
	text-align: center;
	border-right: 1px solid #049CC6;
	margin-left:8px;
	padding-right:8px;
}
ul#Topbuzonlinks li a {
	color:#666666;
	text-decoration:none;
	font-size:12px;
	font-weight:bold;
}

ul#Topbuzonlinks li a:hover {
	color:#049CC6;
	text-decoration:none;
}
.buzon-search{
	width:150px; 
	height:10px; 
	cursor:text; 
	margin-left:10px; 
	border-radius:4px; 
	margin-top:2px;
	font-size:11px;
	color:#666666;
}

.buzon-buttom{
	font-weight: bold; 
	font-size: 12px; 
	height:20px; 
	padding:1px 3px; 
	margin-top:-20px;
	margin-right:15px; 
	float:right;  
	font-size:12px;
}

.detail-buzon{
	width:98%;
    padding: 5px 5px 5px 10px;
	font:  12px Arial,Sans-serif;
	color:#666666;	
    text-decoration: none;
    overflow: visible;
    cursor: pointer;
    border-bottom: 1px solid #049CC6;
}
    
.detail-buzon h3{
	font:  12px Arial,Sans-serif;
	color:#666666;	
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
}
     
.detail-buzon a{
	font:  12px Arial,Sans-serif;
	color:#0B3762;	
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;	
}
    
.detail-buzon a:hover{
	color:#88BB22;
}
      
.detail-mensaje h3{
	color:#0B3762;
	font-size:28px;
	margin-top:10px;
	margin-left:20px;
	font-style: italic;
}
    
#leerMensaje-salida h3{
	color:#0B3762;
	font-size:28px;
	margin-top:10px;
	margin-left:20px;
	font-style: italic;
	font-weight:bold;
}
    
#leerMensaje-busqueda h3{
	color:#0B3762;
	font-size:28px;
	margin-top:10px;
	margin-left:20px;
	font-style: italic;
	font-weight:bold;
}
    
.detail-mensaje-box{
	color:#666666;
	background:#EFF2F7;
	width:612px;
	heigth:30px;
	font-size:16px;
	margin-top:10px;
	margin-left:20px;
	border-right: 5px solid #049CC6;
	padding:10px;
	paddin-bottom:0px;
	font-weight:bold;	
}
    
.detail-mensaje-box1{
	color:#666666;
	width:612px;
	font-size:12px;
	margin-top:10px;
	margin-left:20px;
	border-bottom: 5px solid #049CC6;
	border-right: 5px solid #049CC6;
	padding:10px;	
}
    
.detail-mensaje-box .detail{
	color:#666666;
	width:50%;
	font-size:12px;
	padding:10px;
	font-weight:bold;
	margin-left:20px;	
}
    
.overlay{
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-transition: 0.25s opacity;
	background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
	display: -webkit-box;
	padding: 20px;
	z-index: 1000;
	width:600px;
	height:350px;
	margin-top:30px;
	margin-left:290px;
	position:absolute;
}

.env-mensajes{
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-transition: 0.25s opacity;
	padding: 20px;
	width:660px;
	height:450px;
	position:absolute;
	border-bottom: 5px solid #049CC6;
	border-radius:0px;
}

.env-mensajes form{
	border-right: 5px solid #049CC6;
	height:395px;
}

.overlay fieldset{
	border: 3px solid #0B3762;
	border-top: 4px solid #0B3762;
	background:#ffffff;
	color:#0B3762;
	font-size:18px;
	font-weight:bold;	
	border-radius:10px;
}

#enviar-mensaje{
	background:#ffffff;
	color:#009900;
	font-size:14px;
	font-weight:bold;
	text-align:right;	
}

#enviar-mensaje textarea{
	width:580px;
	height:200px;
	margin-top:2px;
	color:#666666;
	font-size:12px;;
	margin-right:58px;
}
 
.overlay input{
	color:#666666;
	font-size:12px;	
}

.overlay textarea{
	width:500px;
	height:200px;
	margin-top:-10px;
	margin-left:44px;
	color:#666666;
	font-size:12px;
}

.responder-message{
	width:580px;
	height:30px;
	padding-left:14px;
	color:#0B3762;
	font-size:18px;
	font-weight:bold;
	background:#EFF2F7;
	text-align:left;
	margin-bottom:10px;
	margin-top:-1px;
	border-radius: 10px 10px 0px 0px;
}

.responder-message1{
	width:680px;
	height:30px;
	padding-top:10px;
	padding-left:15px;
	color:#0B3762;
	font-size:20px;
	font-weight:bold;
	background:#EFF2F7;
	text-align:left;
	margin-bottom:10px;
	text-align:left;
	border-radius:0px;
	margin-top:10px;
	border-right: 5px solid #049CC6;
}

.responder-message1 p{
	font-size:14px;
	font-weight:bold;
	color:#666666;
	text-align:left;
}

.responder-message p{
	font-size:14px;
	font-weight:bold;
	color:#666666;
	text-align:left;
}

#dialogPopUp {
	background-color: white;
	margin-bottom: 6px;
	margin-top: 6px;
	width: 500px;
	-webkit-box-shadow: 0px 5px 80px #505050;
	background: white;
	border: 1px solid #BCC1D0;
	border-radius: 2px;
	min-width: 400px;
	padding: 0;
	position: relative;
}

#popUpArea h1 {
	background: -webkit-linear-gradient(white, #F8F8F8);
	border-bottom: 1px solid rgba(188, 193, 208, .5);
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px 8px 15px;
	color: #53637D;
	text-shadow: white 0 1px 2px;
	margin: 0px;
}

#popUpArea .contentArea {
	padding: 10px 15px;
}

#popUpArea .actionArea {
	-webkit-box-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: end;
	border-top: 1px solid rgba(188, 193, 208, .5);
	display: -webkit-box;
	padding: 12px;
}

#popUpArea .actionArea button {
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
	border: 1px solid #AAA;
	color: #444;
	font-size: 12px;
	margin-bottom: 0px;
	min-width: 4em;
	padding: 3px 12px 3px 12px;
}

#popUpArea .actionArea button:hover {
 	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  	background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
    border-color: #999;
    color: #222;
}

#popUpArea .actionArea button:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
    color: #333;
}

.boton-enviar{
	float:right; 
	padding:1px 3px; 
	margin-top:20px;
	margin-bottom:20px;
}

#mensajes-nav{
	margin-top: 10px;
	margin-bottom: 10px;
	background:#FFFFFF;
	list-style: none;
}

#mensajes-nav li{
	border: 3px solid #999999;
	border-width: 0 3px;
	list-style:none;
	text-indent:20px;
	font-style:italic;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	background: #F8F8F8;
}

#mensajes-nav .redactar-nav{
	background: #F8F8F8;
	border-bottom: 3px solid #999999;
	text-indent:20px;
	font-style:italic;
	color:#666666;
	font-size:12px;
	padding: 7px 0;

}

#mensajes-nav .redactar-nav A{
	background: #EAEAEA url(images/sprite_inbox_v2_bg.png) repeat-x 0 -45px;
	border: 1px solid #B5B5B5;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 164px;
	margin: 0 auto;
	padding: 0 8px;
}

#mensajes-nav .redactar-nav A:hover{
	text-decoration: none;
	color:#88BB22;
}

#mensajes-nav .busqueda-nav{
	background: #F8F8F8;
	border-bottom: 3px solid #999999;
	text-indent:20px;
	font-style:italic;
	color:#666666;
	font-size:14px;
	font-weight:bold;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-topleft: 6px;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	border-width: 3px;
	padding: 10px 0;
}


#mensajes-nav .fin{
	border-radius: 0 0 6px 6px;
	height:6px;
	border: 3px solid #999999;
	border-top:transparent;
}

#mensajes-nav A:hover{
	color:#049CC6;
}


#mensajes-nav .redactar-nav EM{
	background: url(images/sprite_inbox_v3_icon.png) no-repeat right -96px;
	font-size: 100%;
	padding: 6px 0;
}

#mensajes-nav .redactar-nav EM:hover{
	color:#049CC6;
}

#mensajes-nav li a , #mensajes-nav li em{
	display: block;
	font-size: 12px;
	padding: 10px 10px 10px 25px;
	zoom: 1;
	text-indent:20px;
	font-style:italic;
	color:#666666;
}

.pub-grupos{
	height:150px;
	margin-left:10px;
	background:#88BB22;
	margin-bottom:50px;
}

.buscar-grupos{
	margin-bottom:10px;
	margin-top:2px;
	margin-left:115px;
	height:10px;
	border-radius:4px;
	color:#666666;
	font-size:11px;
	width:150px;	
}

.eliminar-grupos{
	padding:1px;
	border-radius:25px;
	margin-right:5px;
	font-size:8px;
	font-weight:bold;
}

.detail-grupo{
	width:98%;
    padding: 5px 5px 5px 10px;
	font:  12px Arial,Sans-serif;
	color:#666666;	
    text-decoration: none;
    cursor: text;
    border-bottom: 1px solid #049CC6;
    margin-left:-4px;
}
    
.detail-grupo a{
	font:  18px Arial,Sans-serif;
	color:#0B3762;	
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;  	   
}

.detail-grupo a:hover{
	color:#049CC6;	
}

.detail-grupo h2{
	font:  12px Arial,Sans-serif;
	color:#049CC6;	
    text-decoration: none;
    cursor: text;
    font-style:italic;
}

.box-detail-grupo {
	margin: 10px;
	margin-bottom: 20px;
	float:left;
	width:280px;
 	min-height:20px;
 	margin-top:0px;
 	font:12px Arial,Sans-serif;
	color:#666666;	
    text-decoration: none;
    cursor: text;
    font-weight: bold;
}

.box-detail-grupo select{
	width:170px;
 	height:22px;
 	margin-top:-3px;
 	margin-left:10px;
 	color:#666666;
 	text-align:center;
}

.box-detail-grupo input{
	width:160px;
 	height:15px;
 	margin-top:-3px;
 	margin-left:10px;
 	color:#666666;
 	text-align:center;
}

.box-detail-grupo p{
	font:12px Arial,Sans-serif;
	color:#0B3762;	
    text-decoration: none;
    cursor: text;
    font-weight: bold;
}

.crear-grupo-boton{
	padding:5px;
	float:right;
	margin-right:15px;
}

.sidebar-perfil-grupo ul li input:hover {
	box-shadow: 0 0 5px #163E6A;
	text-decoration: none !important;
}
	
#scroller-title {
	margin: 0 12px 10px 24px;
	font-family: "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
}

#scroller-title .lefty {
	float: left;
	margin-left: 10px;
	margin-right: 10px;	
}

#scroller-title h1 {
	color: #262727;
	font-size: 24px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

#scroller-title h1 a, #scroller-title h1 a:visited {text-decoration: none; color: #262727;}
#scroller-title h1 a:hover {text-decoration: none; border-bottom:1px dotted #262727;}

#scroller-title h4 {
	color: #666;
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
	text-decoration: none;
	cursor: default;
}

#user-scroller {
	background: #003867;
	width: 1000px;
	position: relative;
	margin: 0 12px 0 12px;
}

#user-scroller .user-carousel {
	height: 75px;
	padding: 20px 0;
	overflow: hidden;
	width: 960px;
	margin: auto;
}

.user-scroller-shadow {
	background: url(images/home-scroller-shadow.png) center top no-repeat;
	width: 100%;
	height: 20px;
	margin-bottom: -5px;
}

#user-scroller .user-carousel .viewport {
	float: left;
	width: 800px;
	height: 75px;
	overflow: hidden;
	position: relative;
}

#user-scroller .user-carousel .overview {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.user-carousel .overview li {
	float: left;
	margin: 0 40px 0 0;
	padding: 0;
	width: 75px;
	height: 75px;
}

.user-carousel .buttons {
	background-image: url(images/scroller-arrows.png);
	display: block;
	margin: 0px 40px 0 0;
	float: left;
	width: 40px;
	height: 80px;
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 1.0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	text-indent: -9999em;
}

.user-carousel .next {
	margin: 0px 0 0 40px;
	background-repeat: no-repeat;
	background-position: -40px 0;
}

.user-carousel .disable {
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	cursor: default; 
}

.imghover{display:block;}
.imgfadein {background: url(images/imghover.png) center center no-repeat;}

.eli-buttom{
	background: url(images/eliminar.png);
}

.stylish-box {
	-webkit-box-shadow: 0px 5px 80px #999;
	-moz-box-shadow: 0px 5px 80px #505050;
	-ms-box-shadow: 0px 5px 80px #505050;
	-o-box-shadow: 0px 5px 80px #505050;
	box-shadow: 0px 5px 80px #999;
	background: white;
	border: 1px solid #BCC1D0;
	border-radius: 5px;
	min-width: 400px;
	padding: 0;
	position: relative;
	display: block;
	background-color: white;
	margin: 6px;
	width: 450px;
	overflow: hidden;
}

.stylish-box h1 {
	background-color: #0C3762;
	background: -webkit-linear-gradient(#09529b, #0c3762);
	border-bottom: 1px solid rgba(188, 193, 208, .5);
	font-size: 14px;
	font-weight: bold;
	padding: 10px 15px 8px 15px;
	color: #FFF;
	border-radius: 5px 5px 0 0;
}

.stylish-box .content-area {padding: 10px 15px;}

.left {float:left;}
.right {float:right;} 

.deco-buzon{
	border-bottom: 5px solid #049CC6;
	margin-bottom:50px;
}

.mensaje-deco{
	color:red;
	font-size:12px;
	width:100%;
	text-align:left;
	margin:15px 0px 5px 15px;
}

.deco-grupo{
	width:630px;
	border-bottom:5px solid #049CC6;
	border-right:5px solid #049CC6;
	position: absolute;
}

.perfil-grupo-box{
	border-bottom:5px solid #049CC6;
	border-right:5px solid #049CC6; 
	min-height:320px; 
	width:630px; 
	margin-top:10px; 
}

.descripcion-box{
	border:1px solid #d1d1d1;
	width:570px;
	background:#ffffff;
}

#perfilGrupo h6{
	margin:30px;
	margin-top:150px;
	margin-left:150px;
	color:red;
	font-size:16px;
	font-weight:bold;
}

.validaciones-grupo h6{
	margin:30px;
	margin-top:150px;
	margin-left:150px;
	color:red;
	font-size:16px;
	font-weight:bold;
}

.miembros-grupo{
    color: #0B3762;
    cursor: pointer;
    font-size: 14px;
    font-weight:bold;
}
.miembros-grupo:hover{
    color: #049CC6;
}
.tabla-miembro{
    cursor: text;
    width:540px;
}

/* Inicio */

#leftBar {
	width: 270px;
	padding: 0;
	vertical-align: top;
	float: left;
	margin-left:13px;
}

#rightBar {
	width: 727px;
	border: 1px solid #ccc;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	min-height: 700px;
	margin-top: 9px;
	margin-left: 283px;
}

.userPhotoContainer {
	border-bottom: 0;
	padding: 20px 10px;
	width: 100%;
	text-align: right;
}

.userPhotoContainer .wrapper {
	height: 48px;
	width: 170px;
}

.userPhotoContainer a {
	color: #333;
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
}

.userPhotoContainer a:hover.name {
	text-decoration: underline;
}

.userPhotoContainer img {
	height: 48px;
	margin-right: 10px;
	width: 48px;
	vertical-align: middle;
}

#leftNavbar {
	margin-left: 13px;
	width: 270px;
}

#leftNavbar .header {
	margin: 0;
	padding: 0;
	width: 269px;
	height: inherit;
	background:#1062A3;/*default */
	background: -moz-linear-gradient(center top , #1062A3, #0B3F6D) repeat scroll 0 0 transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1062A3', endColorstr='#0B3F6D'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#1062A3), to(#0B3F6D)); /* for webkit browsers */
	border-top: 1px solid #CCC;
	height: 16px;
	margin: 10px 0 5px -14px;
	padding: 0;
}

#leftNavbar .header h3 {
	font-size: 10px;
	font-weight: bold;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	background-color: transparent;
	color: #666;
	margin-left: 20px;
	padding: 2px 0 0 2px;
	position: relative;
}

#leftNavbar  .navList {
	list-style-type: none;
	margin: 5px 0 10px 0;
	padding: 0;
}

#leftNavbar .item {
	color: #333;
	display: block;
	min-height: 17px;
	line-height: 13px;
	text-decoration: none;
	font-size: 12px;
}

.navList .item {padding: 3px 8px 0 28px;}
.navList li {
	padding: 5px 0 5px 0;
}

.navList li:hover {
	background-color: #eff2f7;
	width:250px;
}

.navList.events li {
	padding: 5px 0 5px 0;
	max-width: 250px;
}

.navList li:hover {
	background-color: #eff2f7;
}

.navList.preview li a {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #0B3762 !important;
	font-size: 12px !important;
	line-height: 1.28;
	font-weight: bold;
}

.navList.events li a {
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: #0B3762 !important;
	font-size: 11px !important;
	line-height: 1.28;
	font-weight: bold;
}

.navList.events li .icon {
	background: transparent url(images/CalendarIcon.gif) no-repeat left center;
	float: left;
	margin-right: 5px;
	width: 17px;
	height: 17px;
	padding-top: 10px;
	margin-left: 4px;
}

.navList.events li .icon u {
	position: absolute;
	top: -9999999px;

}

.navList.events .eventInfo {
	display:none;
	padding-left: 27px;
	color: #333;
	max-width: 220px;
}

.navList.events .eventInfo strong {
	font-weight: bold;
}

#feedList {
	list-style-type: none;
	margin:0;
	padding: 0;
	border-bottom: 1px solid #e9e9e9;
	color: #666666;
}

#feedList li:first-child.item {
	border-top: 1px solid #CCC;
}

#feedList .item {
	padding: 12px 35px 12px 10px;
	border-top: 1px solid #e9e9e9;
}

#feedList .title {
	font: 18px arial,sans-serif;
	color: #333;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 5px 0 15px 8px;
}

#feedList .item.focus {
	position: relative;
	left: -1px;
	width: 682px;
	background-color: #EFF2F7;
	border-left: 1px solid #4D90F0;
	border-right: 1px solid #4D90F0;
}

#feedList .item .item-container {
	padding: 0 5px 10px 35px;
}

.item-container .description-image {
	width: 50px;
	height: 50px;
	padding-right: 10px;
}

.item-container hr {
	border: 1px dotted #CCC;
	border-width: 1px 0 0 0;
}

#feedList .item .item-container a {
	text-decoration: none;
	font-size: 12px;
	color: #333;	
}

#feedList .item .item-container .inline-item {
	border-top: 1px dotted #8B2;
	border-bottom: 1px dotted #8B2;
}

#feedList .item .item-container .inline-item:hover {background-color: #EFF;}

.inline-item .contentblock, .inline-item .description-image {padding: 4px 0 2px 5px;}

#feedList .item .item-container .nameblock {
	color: #999;
	padding-bottom: 3px;
}

#feedList .item .item-container .nameblock span {
	color: #0B3762 !important;
	font-weight: bold;
	font-size: 120%;
}

#feedList .item .item-container .messageblock {
	color: #333;
	font-size: 100%;
	padding-bottom: 3px;
}

#feedList .item .item-container .messageblock span {
	color: #333;
	font-weight: bold;
	font-size: 110%;
	padding-right: 5px;
}

#feedList .item .item-container .infoblock {
	color: #999;
	font-size: 80%;
}

.mensaje-grupo h3{
	color: #0B3762;
	font-size: 18px;
	font-style:italic;
	font-weight:bold;
}

.mensaje-grupo h4{
	color:#88BB22;	
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-weight:bold;
}
/*
.LoginInput {
	color: #FFFFFF !important;
    width:100%;
	text-align:left;
}
.LoginInput ul.tabs {
	width:100%;
	list-style-type:none;
	background-color:#0b3762;
	height:28px;
	padding:0;
	margin:0;
	border-radius: 5px 5px 0 0;

}
.LoginInput ul.tabs li {
	float:left;
	list-style-type:none;
	width:165px;
}
.LoginInput ul.tabs li a {
	height:28px;
	line-height:28px;
	display:block;
	font-size:12px;
	color:#558ed5 !important;
	font-weight:bold;
	padding-left:25px;
	padding-right:20px;
}
ul.tabs li#tabGrupos a {
	text-align:left;
	padding-left: 30px;
}

ul.tabs li#tabGrupos.active a,
ul.tabs li#tabGrupos.active a:hover  {
	background-image:url(images/TabOnLeft.png);
	background-position:right top;
	background-repeat:no-repeat;
	color:#FFFFFF !important;
	text-align:left;
	padding-left: 30px;
 border-radius: 6px 0 0 0;
}

ul.tabs li#tabContactos.active a,
ul.tabs li#tabContactos.active a:hover  {
	background-color: #105f9e;
	color:#FFFFFF !important;
	border-radius: 10px 10px 0 0;
}

ul.tabs li#tabSolicitudes.active a,
ul.tabs li#tabSolicitudes.active a:hover  {
	background-image:url(images/TabOnRight.png);
	background-position:left top;
	background-repeat:no-repeat;
	color:#FFFFFF !important;
}
ul.tabs li a#tabGrupos:hover, ul.tabs li a#tabSolicitudes:hover, ul.tabs li a#tabContactos:hover  {
	color:#FF9900;
}

.tab_content {
	height: 210px;
    width: 570px;
	background-color: #105f9e;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#105f9e, endColorstr=#0d3d6b);

    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#105f9e, endColorstr=#0d3d6b)";
	background: -webkit-gradient(linear, left top, left bottom, from(#105f9e), to(#0d3d6b));
	background: -moz-linear-gradient(top,  #105f9e,  #0d3d6b);
	max-width: 570px;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	padding-top: 8px;
}
.tab_content .activityTabTable {
	width: 560px;
}
.activityTabTable td.tabImageContainer {
	width: 50px;
	height: 50px;
	padding: 0 8px 8px 4px;
}
.activityTabTable .singleTabActivity {
	border-bottom: 1px dotted #999;
}

.activityTabTable th {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
}

.LinkUp a {
	color:#6cb6ff !important;
	font-weight: bold;
}
.LinkUp a:hover {
	color:#e58107 !important;
	font-weight: bold;
}
*/


.noti_bubble {
    position:relative;
    top: -6px;
    right:-6px;
    padding:1px 2px 1px 2px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:10px;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}

button {
	-webkit-border-radius: 2px;
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	-webkit-user-select: none;
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border: 1px solid #aaa;
	color: #444;
	font-size: inherit;
	margin-bottom: 0px;
	min-width: 4em;
	padding: 3px 12px 3px 12px;
}

button:hover {
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
	border-color: #999;
	color: #222;
}

button:active {
	-webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
	background: #ebebeb -webkit-linear-gradient(#f4f4f4, #efefef 40%, #dcdcdc);
	color: #333;
}

button[disabled] {
	-webkit-box-shadow: none;
	background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
	border-color: #aaa;
	color: #888;
}

.grupo-evento{
	float:left;
	width:150px;
	height:150px;
	border:1px solid #d1d1d1;
	margin:20px;
	margin-top:0px;
	padding:10px;
	padding-bottom:30px;
}

.loop-evento{
	float:left;
	width:55px;
	height:55px;
	border: 1px solid #d1d1d1;
	background:#d1d1d1;
	margin-top:10px;
	margin-right:10px;
	margin-left:-10px;
}

.loop-evento1{
	float:left;
	width:55px;
	height:55px;
	border: 1px solid #d1d1d1;
	background:#d1d1d1;
}

.no-data{
	width:100%;
	font-size:16px; 
	color: #0B3762; 
	font-weight:bold;
	text-align:center;
	margin-top:50px;
}

.title-discusion{
	 width:610px;
	 margin-left:10px;
	 margin-top:40px;
	 margin-bottom:20px;
}

.autor-style{
	float:right; 
	font-size:11px; 
	font-weight:bold;
}
	
.list-evento{	
	min-height:20px; 
	padding-bottom:5px;
	margin-bottom:70px;
	margin-left:10px;
}
	
.detalle-box{
	margin-top:10px;
	border-bottom:3px solid #049CC6;
	padding-bottom:10px; 
	width:635px; 
	margin-left:10px;
}
	
.eventos-style{
	width:96%; 
	margin-left:5px;
	padding-bottom:10px;
}

.perfil-evento{
	min-height:100px; 
	overflow:hidden; 
	margin-bottom:50px;
	margin-left:10px;
}

.resumen-evento{
	margin-left:20px;
    float:left;
    margin-bottom:20px;
    width:500px; 
}

.miembros-style{
	margin-left:10px; 
	min-height:20px; 
	padding-bottom:5px;
	margin-bottom:70px;
}
	
.post-style{
	overflow:hidden;
	margin-top:5px margin-bottom:50px;
	width:635px;
	margin-left:10px;
	padding:5px;
	padding-bottom:30px;
}

.discusiones-list{
	min-height:20px;
	padding-bottom:5px;
	margin-bottom:70px;
	margin-left:10px;
}
	
.input-evento{
	border: 1px solid #d1d1d1;
	font-size:12px; 
	color: #0B3762; 
	font-weight:bold;
	border-radius:4px;
}

.messageblock span input {
	color: #333;
	font-weight: bold;
	font-size: 110%;
	background-color: transparent;	
}

.messageblock input.content {
	color: #333;
	font-size: 100%;
	background-color: transparent;	
}

#novedades .tabs li {
	list-style-type: none;
	float: left;
	background: #F3F3F3;
	background: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	border: 1px solid #D9D9D9;
	height: 24px;
	margin-right: -1px;
	text-align: center;
	vertical-align: middle;
	width: 120px;
	border-image: initial;
	padding: 4px 0 0 0;
}

#novedades .tabs li a {
	font-size: 140%;
	font-weight: bold;
	text-decoration: none;
	color: #666;
	text-align: center;
	vertical-align: middle;
}

#novedades .tabs li:first-child {border-radius: 5px 0 0 5px;}

#novedades .tabs li:last-child {border-radius: 0 5px 5px 0;}

#novedades .tabs li:active, #novedades .tabs li.active {
	background: -o-linear-gradient(top,#EEE,#E0E0E0);
	background: -webkit-gradient(linear,left top,left bottom,from(#EEE),to(#E0E0E0));
	background: -moz-linear-gradient(top,#EEE,#E0E0E0);
	background: -o-linear-gradient(top,#EEE,#E0E0E0);
	border-color: #BBB;
	box-shadow: inset 0 1px 5px #ccc;
	-moz-box-shadow: inset 0 1px 5px #ccc;
	-webkit-box-shadow: inset 0 1px 5px #ccc;
	z-index: 2;
}

.tab_container {padding-top:25px;}

.tab_content {
	height: 210px;
    width: 570px;
	background: #F3F3F3;
	background: -webkit-gradient(linear,left top,left bottom,from(whiteSmoke),to(#F1F1F1));
	background: -moz-linear-gradient(top,whiteSmoke,#F1F1F1);
	background: -o-linear-gradient(top,whiteSmoke,#F1F1F1);
	max-width: 570px;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	padding-top: 4px;
	border-radius: 5px;
	box-shadow: inset 0 1px 10px #ccc;
}

.tab_content .activityTabTable {
	width: 560px;
}

.activityTabTable td.tabImageContainer {
	width: 50px;
	height: 50px;
	padding: 0 8px 8px 4px;
}

.activityTabTable .singleTabActivity {
	border-bottom: 1px dotted #999;
}

.activityTabTable th {
	font-weight: bold;
	font-size: 14px;
	text-align: left;
	color: #666666;
}

.LinkUp a {
	color:#0B3762 !important;
	font-weight: bold;
}

.LinkUp a:hover {
	color:#049CC6!important;
	font-weight: bold;
}

#crear-evento-form{
	width:600px;
}

#crear-evento-form input[type="text"]{
	border: 1px solid #8496BA;
}

#crear-evento-form input[type="submit"]{
	margin-right:15px;
}

.error{
	color: red;
	display: none;
}

#crear-evento-form{
	font-size:12px; 
	color: #666666; 
	font-weight:bold;
}

.datepicker { border-collapse: collapse; border: 2px solid #999; position: absolute; z-index:9999;}
.datepicker tr.controls th { height: 22px; font-size: 11px; }
.datepicker select { font-size: 11px; }
.datepicker tr.days th { height: 18px; }
.datepicker tfoot td { height: 18px; text-align: center; text-transform: capitalize; }
.datepicker th, .datepicker tfoot td { background: #eee; font: 10px/18px Verdana, Arial, Helvetica, sans-serif; }
.datepicker th span, .datepicker tfoot td span { font-weight: bold; }

.datepicker tbody td { width: 24px; height: 24px; border: 1px solid #ccc; font: 11px/22px Arial, Helvetica, sans-serif; text-align: center; background: #fff; }
.datepicker tbody td.date { cursor: pointer; }
.datepicker tbody td.date.over { background-color: #99ffff; }
.datepicker tbody td.date.chosen { font-weight: bold; background-color: #ccffcc; }

.posFixed {position:fixed !important;}
.datepicker tbody td.date.chosen { font-weight: bold; background-color: #ccffcc; }

#newsticker-demo { 
	width:185px;
	height:160px;
	background:#FFFFFF;
	padding-left: 5px;
}

#newsticker-demo a { text-decoration:none; color: #0B3762;}

#newsticker-demo img { border: 2px solid #FFFFFF; }

#newsticker-demo .title {
	text-align:center;
	font-size:14px;
	font-weight:bold;
	padding:5px;
}

.newsticker-jcarousellite { width:185px; max-height: 160px;}
.newsticker-jcarousellite ul li{ list-style:none; display:block; padding-bottom:1px; margin-bottom:5px; }
.newsticker-jcarousellite .thumbnail { float:right; width:35px; padding: 5px;}
.newsticker-jcarousellite .info  { float:left; width:180px; padding: 3px; }
.newsticker-jcarousellite .info span.cat { display: block; font-size:10px; color:#808080; }

.clear { clear: both; }

.span-grupos{
	float:right;
	margin-right:10px;
	font-size:12px;
	color:#666666;
	
}
.contacto-person{
	color:#88BB22;
	
}
.contacto-person:hover{
	color:#0B3762;
	
}
.paginacion-style{
	margin:15px 0px 8px 10px;
	color:#666666;
	font-size:12px;
	border-bottom:5px solid #049CC6;
	padding-bottom:30px;
	padding-top:10px;
	width:97%;
}

.grupo-solicitud table tbody tr td{
	color:#666666;
	font-size:12px;	
	padding-top:10px;
}

.grupo-solicitud table{
	width:400px;
	margin-bottom:10px;	
}
.contactos-comunes{
	margin:0px;
	width:160px; 
    color:#666666;
    background:#f5f5f5;
    border-radius:4px;
}
.container-eliminar{
	float:left;
	margin-left:10px;
	margin-top:5px;
}

.container-agregar{
	float:left;
	margin-top:5px;
}

.box-send-message {
	border-bottom: 5px solid #049CC6;
	margin-bottom:10px;	
	width:585px; 
	margin-left:10px; 
	margin-top:10px; 
	padding-bottom:40px;
	border-right:5px solid #049CC6; 
	background-color:#FFFFFF;}
.input-send-message {
	padding:5px;
	font-size:15px;
	color:#666666;
	font-weight:bold;}
.input-send-message-title{
	width:580px;
	height:30px;
	padding-top:10px;
	padding-left:15px;
	color:#0B3762;
	font-size:20px;
	font-weight:bold;
	background:#EFF2F7;
	text-align:left;
	margin-bottom:10px;
	text-align:left;
	border-radius:0px;
	margin-top:10px;
	border-right: 5px solid #049CC6;
	}
	
	
	
/**red social**/
.required-input { color: red; font-size: 14px; }
#summary-error { display:none;color:red;margin-left:15px;font-size:14px;padding:10px; }
#summary-error p { margin-bottom:10px; }
#summary-error ul { margin-left:20px; }
#summary-error ul li { display:none; }
.general-text { font-size: 13px; margin: 10px 0; }