#parse( "common/header_final.vm" )
#parse( "jsStartup/index.vm" )

<div style="margin:25px;">
<h2 style="vertical-align: middle;line-height: 16px;padding: 0;padding-left: 20px;color: #0B3762;background-color: #EEE;padding-top: 5px;padding-bottom: 5px;">
<img src="http://perfil.sansanos.cl/resources/images/LoginIcon.png" style="vertical-align: top;padding-right:10px;width:58px;height:47px;align:top;">
 Buscar mi cuenta
</h2>
      
            
<p class="Mensajes" style="font-size:13px;margin-top: 15px;width: 750px;color:#666;">
    #if($showMail)
    	Usted ya tiene una cuenta creada! Para recuperar tu contrase&ntilde;a, haz <a href="http://perfil.sansanos.cl/recuperarContrasena.html">CLIC AQUI</a>
		<br><br>
		Importante: Si ya no tiene acceso a su correo para recuperar su contrase&ntilde;a,
		 por favor escriba un mail a admin@sansanos.cl con los siguientes datos:
		<ul style="font-size: 13px;margin: 10px 25px;color:#666;">
			<li>Rut</li>
			<li>Nombre completo</li>
			<li>Fecha de nacimiento</li>
			<li>Email registrado</li>
			<li>Fono/celular</li>
			<li>Carrera y a&ntilde;o de ingreso a la USM</li>
		</ul>
		
		<span style="font-size:13px;color:#666;">para ayudarle a recuperar el acceso a su cuenta. Por favor, <b>NO CREE</b> otra cuenta.</span>
    #else
    	#if($showRut)
    		Usted ya tiene una cuenta creada con el mail: $usuarioRut.email.
			Para recuperar tu contrase&ntilde;a, haz <a href="http://perfil.sansanos.cl/recuperarContrasena.html">CLIC AQUI</a>.
			<br><br>
			Importante: Si ya no tiene acceso a su correo para recuperar su contrase&ntilde;a,
			 favor escriba un mail a admin@sansanos.cl con los siguientes datos:
			<ul style="font-size:13px;margin: 10px 25px;color:#666;">
				<li>Rut</li>
				<li>Nombre completo</li>
				<li>Fecha de nacimiento</li>
				<li>Email registrado</li>
				<li>Fono/celular</li>
				<li>Carrera y a&ntilde;o de ingreso a la USM</li>
			</ul>
			
			<span style="font-size:13px;color:#666;">para ayudarle a recuperar el acceso a su cuenta. Por favor, <b>NO CREE</b> otra cuenta.</span>
    	#else
    		No encontramos una cuenta creada con esos datos... pero no te desanimes! puedes crearte una y es S&Uacute;PER F&Aacute;CIL!. Puedes hacer 
			<a href="http://perfil.sansanos.cl/registro/registroEmail.html"><b>CLIC AQUI</b></a> para crear una nueva cuenta.
    	#end
    #end
</p>
</div>
<script>
$(function(){
	$('.login').hide();
	$('#PrimeCont').css("min-height","500px");
	$('#MainCont').css("height","670px");
});
</script>

	</div>
	</div>
	<div class="footerBG"></div>
</body>
</html>