#parse( "common/header_final.vm" )
#parse( "jsStartup/buzon.vm" )

<script type="text/javascript" src="/resources/js/jquery.tokeninput.js"></script>
<link rel="stylesheet" href="/resources/css/token-input.css" type="text/css" />
<link rel="stylesheet" href="/resources/css/token-input-facebook.css" type="text/css" />

<!-- Inicio empresas -->
<div class="content-body box-decoration" style="background:#EFF2F7;">	   
	<!-- Inicio  barra lateral izquieda -->   
	<div class="container-small-left">
		<div class="box-panel" style="margin-left:10px;min-height:180px;">	   		
		   <div id="mensajes-nav">
	         	<ul>
		             <li  class="busqueda-nav">Mensajes</li>             	               	
		             <li  class="redactar-nav"><a id="enlace-redactar" style="cursor:pointer;"><em>Redactar mensaje</em></a></li>
		             <li><a id="enlace-entrada" style="cursor:pointer;">Entradas</a></li>
		             <li><a id="enlace-enviados" style="cursor:pointer;">Enviados</a></li>
		             <li class="fin"></li> 
				</ul>       
           </div>
        </div>		  
		<div class="publicity-buzon">
		<a href="http://tv.sansanos.cl/" >
		<img  style="margin-top:-15px; margin-left:20px;" src="/resources/img/sansanostv.jpg"  width="178" alt="x"/></a>
		</div>
	</div>
	<!-- Fin barra lateral izquierda -->
	   
	<!-- Inicio  barra lateral derecha-->
	<div class="container-big-right" style="min-height:662px;">
   
		<div id="Topbuzon">	
			<div  style="float:right;margin-right:20px;">
				<input type="text" name="search-input" id="search-text-input" class="buzon-search" value="Buscar Mensajes" style="margin-right:-20px; border:1px solid #d1d1d1;" />	
				<a href="#" id="buscar-submit"><img  style="cursor:pointer; margin-right:0px; position:relative; top:3px;" src="/resources/img/lupa.png" width="13" alt="x"/></a>	
		    </div>
		        		
			<ul id="Topbuzonlinks">
				<li style="width:14px;margin-left:22px;"><input type="checkbox" name="option1" value="1" id="mark-all"></li>
				<li><a id="mark-unread" style="cursor:pointer;">No le&iacute;dos </a><input type="checkbox" id="mark-unread-checkbox" style="display:none"></li>
				<li style="width:90px;"><a id="mark-read" style="cursor:pointer;">Marcar le&iacute;dos </a><input type="checkbox" id="mark-read-checkbox" style="display:none"></li>
				<li><a href="#" id="eliminar-multiples">Eliminar </a></li>					
				<li><a href="/buzon">Actualizar </a></li>
			</ul>						
		</div>
		
		<div id="buzon-content">
			<!-- BUZON DE ENTRADA -->
			<div id="buzonEntrada" class="detail-buzon deco-buzon">			
				#set($id = 0)
				#if($mensajes.size() == 0)
								<p class="no-data" > No hay mensajes en tu bandeja de entrada</p>
							#else
				#foreach($m in $mensajes)
					#if($m.leido == false)
					<div id="imensaje-$id" class="detail-buzon" style="padding:7px 0px 7px 0px;">
						<input type="checkbox" name="id_eliminar" value="$id" class="mensaje-checkbox-unread" data-id="mensaje-checkbox-all" style="float:left;margin-left:12px;margin-right:10px;">								
						<a class="eliminar" data-id="$id" modal="#dialog1" style="float:right;margin-top:-7px;"><img src="/resources/img/eliminar.png" alt="x" /></a>								
						<a href="#" value="Ver" class="ver" data-id="$id">
							<table  summary="mensaje" style="width:90%;">
								<tbody>
									<tr>
										<td width="40%"><h3><b>$ModuloUtilidades.getNombreFormateado($m.usuarioAexa.getNombreCompleto())</b></h3></td>
										<td width="40%"><h3><b>$m.asunto</b></h3></td>
										<td width="20%"><h3><b>$ModuloUtilidades.fechaDefault($m.fechaEnvio)</b></h3></td>									
									</tr>
								</tbody>
							</table>
						</a>												    				 									
					</div>
					
					#else
					
					<div id="imensaje-$id" class="detail-buzon " style="background:#f6f6f6; padding:10px 0px 10px 0px;">
						<input type="checkbox" name="id_eliminar" value="$id" class="mensaje-checkbox-read" data-id="mensaje-checkbox-all" style="float:left;margin-left:12px; margin-right:10px;">
						<a class="eliminar" data-id="$id" modal="#dialog1" style="float:right; margin-top:-7px;" ><img src="/resources/img/eliminar.png" alt="x" /></a>								
						<a href="#" value="Ver" class="ver" data-id="$id">
							<table  summary="mensaje" style="width:90%;">
								<tbody>
									<tr>
										<td width="40%"><h3>$ModuloUtilidades.getNombreFormateado($m.usuarioAexa.getNombreCompleto())</h3></td>
										<td width="40%"><h3>$m.asunto</h3></td>
										<td width="20%"><h3>$ModuloUtilidades.fechaDefault($m.fechaEnvio)</h3></td>											
									</tr>
								</tbody>
							</table>
						</a>																									 	
					</div>
					
					#end
					
					<form id="mensaje-leer-$id">
						<input type="hidden" name="usuarioAexaReceptor.id" value="$m.usuarioAexaReceptor.id">
						<input type="hidden" name="usuarioAexa.id" value="$m.usuarioAexa.id">
						<input type="hidden" name="fechaEnvioMensaje" value="$m.fechaEnvio">
		   			</form>	
	   								
					#set($id = $id + 1)
				#end
				
				<p style="margin:15px 0px 8px 10px;">
					P&aacute;gina(s): 					
					#foreach($pag in [1..$cantidadPaginas])
						<span style="margin-left:5px;">
							#if($paginaActual != $pag)
								<a href="/buzon?p=$pag">$pag</a>
							#else
								$pag
							#end
						</span>
					#end
					<span style="float:right;margin-right:10px;">Mostrando $inicioPagina - $finalPagina mensaje(s) de $totalMensajes</span>
				</p>
				#end
			</div>	
			<!--FIN BUZON DE ENTRADA -->			
			<!-- DIV LECTURA DE MENSAJES-->			
			<div id="leerMensaje" style="display:none;" class="detail-mensaje deco-buzon">
				<input type="button" id="volver" value="Volver" class="messageBox sendMessage blue_btn" style="padding:5px;float:right; margin:30px;margin-top:10px;"/>	
				<input type="button" value="Responder" id="responder" class="blue_btn" style="float:right; padding:5px; margin-top:10px;margin-right:-25px"/>
				<div id="cargando" style="display:none; color: green;"><h1>Cargando...</h1></div>
	
				<table summary="mensaje" style="margin-bottom:50px;">
					<tbody>
						<tr>
							<div style="width:500px;"><h3 id="titulo"></h3></div>
						</tr>
						<tr>
							<div class="detail-mensaje-box">De:		
								<div id="usuarioEmisor" class="detail" style="margin-top:-30px; font-size:16px;"></div>
								<div id="fecha" class="detail"  style=" margin-top:-35px; float:right;text-align:right; font-style:italic;"></div>
							</div>
						</tr>	
						<tr>
							<div class="detail-mensaje-box1"><p id="mensaje-final"></p></div>
						</tr>
					</tbody>
				</table>
    
    <!-- RESPUESTA DE MENSAJES-->
				
				<div id="responder-mensaje-box" class="overlay" style="display:none;">				
					<form id="responder-mensaje">
						<fieldset>
							<div class="responder-message"> Responder Mensaje<input type="button" name="cancelar" value="x" class="cancelar blue_btn" style="float:right; padding:1px 5px; margin-top:5px; margin-right:5px; border-radius:25px; font-weight:bold;" ></div>
							<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Asunto: 
							<input type="asunto" id="asunto-respuesta" name="asunto" style="width:425px;height:20px;">
							<p style="display:none;margin:10px 0px 0px 45px;" id="err-respuesta-asunto" class="err-respuesta mensaje-deco"></p><br/>
							<br><textarea id="mensaje-respuesta" name="mensaje" cols="35" rows="10"></textarea>
							<p style="display:none; margin:10px 0px 0px 45px;" id="err-respuesta-mensaje" class="err-respuesta mensaje-deco"></p><br/>
							<input type="hidden" name="receptores" id="responder-receptores">
							<input type="button"  name="cancelar" value="Cancelar"class="cancelar blue_btn" style="float:right; padding:5px; margin-top:10px;margin-bottom:20px;margin-right:45px;" >
							<input type="submit" name="enviar" value="Enviar"class="blue_btn" style="float:right; padding:5px; margin-top:10px; margin-bottom:20px;margin-right:10px;" >
    					</fieldset>
    				</form>				
     			</div>
    
    <!-- FIN RESPUESTA-->
    		
				<div id="error-lectura-mensajes" style="color:red;">
            		<p style="display:none;" class="error-lectura-mensajes no-data" id="e_remitente"></p>
            		<p style="display:none;" class="error-lectura-mensajes no-data" id="e_receptor"></p>
            		<p style="display:none;" class="error-lectura-mensajes no-data" id="e_verMensaje"></p>
            		<p style="display:none;" class="error-lectura-mensajes no-data" id="e_fecha"></p>
            		<p style="display:none;" class="error-lectura-mensajes no-data" id="e_mensaje"></p>
            		<p style="display:none;" class="error-lectura-mensajes no-data" id="e_receptores"></p>
				</div>
    		</div>
			
	<!-- FIN DIV LEER MENSAJE -->
			
	<!-- INICIO DIV ELIMINAR MENSAJE -->  
			<div id="boxes" style="display:none;"> 
				<div id="dialog1" class="window"> 
					<div class="d-header"> 
						<div style="color:red;">
                			<p style="display:none;" class="error-eliminar-mensajes no-data" id="del_remitente"></p>
                			<p style="display:none;" class="error-eliminar-mensajes no-data" id="del_receptor"></p>
                			<p style="display:none;" class="error-eliminar-mensajes no-data " id="del_eliminarMensaje"></p>
                			<p style="display:none;" class="error-eliminar-mensajes no-data " id="del_fecha"></p>
                			<p style="display:none;" class="error-eliminar-mensajes no-data" id="del_mensaje"></p>
                			<a href="#"class="close"/></a>
						</div>   
					</div> 
				</div>  
				<div id="mask"></div> 
			</div> 
	<!-- FIN DIV ELIMINAR MENSAJE -->
			
	<!-- MANDAR MENSAJE --> 
	
			<div id="enviar-mensaje" class="env-mensajes" style="display:none;padding:0px;">
				<div class="responder-message1"style="width:97%;"> Enviar Mensaje</div>
					<form name="enviarMensaje" id="enviarMensaje">
						
						<div class="responder-message" style="background:white;margin-bottom:20px;font-size:11px;width:100%;">
							<p>Para:</p>
							<input type="text" id="receptores" name="receptores" style="width:1200px;">
						</div>															
						
						<p class="mensaje-deco" style="display:none;" id="err-envio-receptor" class="err-envio"></p>
						
						<div class="responder-message" style="background:white;">
							<p>Asunto:</p>
							<input type="text" name="asunto"   style="width:395px;border:1px solid #8496BA;">
						</div>							
						<p class="mensaje-deco" style="display:none;" id="err-envio-asunto" class="err-envio"></p>
						<p style="text-align:left;color:#666666; padding:8px 0px 0px 15px;">Mensaje:</p>
						<textarea name="mensaje" cols="20" rows="10"></textarea>
						<p class="mensaje-deco" style="display:none; margin:2px 0px 0px 15px;" id="err-envio-mensaje" class="err-envio"></p>
						<input type="button" id="cancelar-redactar" name="cancelar-envio" value="Cancelar"class="blue_btn boton-enviar" style="margin-right:68px;padding:5px;" >                                       	
						<input type="submit" name="enviar" value="Enviar"class="blue_btn boton-enviar"style="margin-right:15px;padding:5px;">
					</form>
			</div>
			
	<!--FIN MANDAR MENSAJE  --> 
			
			<div id="bandeja-salida" class="deco-buzon" style="display:none;"></div>
			
			<div id="bandeja-busqueda-mensajes" style="display:none;"></div>
			
		</div>

	</div>
	<!-- Fin barra lateral derecha -->
	
</div></div>
#parse( "common/footer_final.vm" )
   
<script type="text/javascript">	
function cleanAllErrors(){
	jQuery('.err-envio').hide().html('');
	jQuery('.err-respuesta').hide().html('');
	jQuery('.error-eliminar-mensajes').hide().html('');
	jQuery('.error-lectura-mensajes').hide().html('');
}

function cleanAllLoadedFields(){
	jQuery('#titulo').html('');
	jQuery('#fecha').html('');
	jQuery('#usuarioEmisor').html('');
	jQuery('#mensaje-final').html('');
	
	jQuery('#del_mensaje').html('');
	
	jQuery('#asunto-respuesta').val('');
  	jQuery('#mensaje-respuesta').val('');
}

function cleanAll(){
	cleanAllErrors();
	cleanAllLoadedFields();
	jQuery('#Topbuzonlinks').show();
}

jQuery('#enlace-entrada').click(function(){
	window.location.replace("/buzon");
});

jQuery('.ver').click(function() {
	cleanAll();
	jQuery('#leerMensaje').siblings().hide();
	jQuery('#Topbuzonlinks').hide();
	jQuery('#Topbuzonlinks1').show();
	jQuery('#leerMensaje').show();
	var id = jQuery(this).attr("data-id");

  	var mensaje = jQuery('#mensaje-leer-'+id).serializeObject();		
	jQuery("#cargando").css("display", "inline");
	jQuery.postJSON("/buzon/cargarMensaje", mensaje, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
			//aqui se manejan los errores, ustedes los imprimen como quieran y donde quieran, esto
			//es solo un ejemplo de lo que se puede hacer con esto
		  	if(typeof data["remitente.invalid"] != 'undefined')
			  	jQuery('#e_remitente').show().html(data["remitente.invalid"]);
		  	if(typeof data["receptor.invalid"] != 'undefined')
			  	jQuery('#e_receptor').show().html(data["receptor.invalid"]);
			if(typeof data["verMensaje.invalid"] != 'undefined')
			  	jQuery('#e_verMensaje').show().html(data["verMensaje.invalid"]);
			if(typeof data["fecha.invalid"] != 'undefined')
			  	jQuery('#e_fecha').show().html(data["fecha.invalid"]);
		}else{
			if(typeof data["mensaje.false"] != 'undefined')
			  	jQuery('#e_mensaje').show().html(data["mensaje.false"]);
			 else{
				//aqui se recibe todo en caso de exito, tambien se puede hacer lo que se desee
				jQuery('#titulo').html(data.asunto);
				jQuery('#fecha').html(data.fechaEnvio);
				jQuery('#usuarioEmisor').html(data.usuario);
				jQuery('#mensaje-final').html(data.mensaje);
				jQuery('#responder-receptores').val(data.usuarioId);
			}
		}
		jQuery("#cargando").css("display", "none");
  	});
});		

jQuery('#volver').click(function() {
  window.location.replace("/buzon");
});

//Funciones para redactar mensaje
jQuery('#enlace-redactar').click(function(){
	cleanAllErrors();
	jQuery('#Topbuzonlinks').hide();
	jQuery('#enviar-mensaje').siblings().hide();
	jQuery('#enviar-mensaje').show();
});

jQuery('#enlace-enviados').click(function(){
	cleanAll();
	jQuery('#Topbuzonlinks').hide();
	jQuery('#bandeja-salida').siblings().hide();
	jQuery('#bandeja-salida').show().load('/buzon/buzonSalida');
	jQuery('#leerMensaje-salida').hide();
});

jQuery('#cancelar-redactar').click(function() {
  jQuery('#buzonEntrada').siblings().hide();
  jQuery('#buzonEntrada').show(); 
  jQuery('#enviar-mensaje').height(450);
  jQuery('#enviarMensaje').height(395);
});

jQuery("#enviarMensaje").submit(function() {
	var mensaje = jQuery(this).serializeObject();
	
	jQuery.postJSON("/buzon/enviarMensaje", mensaje, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
		  if(typeof data["receptor.required"] != 'undefined')
			  	jQuery('#err-envio-receptor').show().html(data["receptor.required"]);
		  if(typeof data["asunto.required"] != 'undefined')
			  	jQuery('#err-envio-asunto').show().html(data["asunto.required"]);
		  if(typeof data["mensaje.required"] != 'undefined')
			  	jQuery('#err-envio-mensaje').show().html(data["mensaje.required"]);
		  jQuery('#enviar-mensaje').height(480);
		  jQuery('#enviarMensaje').height(425);
		}else{
			if(data.flag == "true"){
				alert("Tu mensaje ha sido enviado con exito");
				window.location.replace("/buzon");
			}
			else
				alert("Ha ocurrido un error al enviar el mensaje. Intentalo nuevamente.");
		}
	});
	return false;				
});

//fin funciones para redactar mensajes

jQuery('.cancelar').click(function() {
  	jQuery('#asunto-respuesta').val('');
  	jQuery('#mensaje-respuesta').val('');
  	jQuery('#responder-mensaje-box').hide();
});

jQuery('#search-text-input').click(function(){
	jQuery('#search-text-input').val('');
});
$('#search-text-input').blur(function(){
	if($('#search-text-input').val() == "")
		$('#search-text-input').val("Buscar Mensajes");
});

jQuery('#buscar-submit').click(function() {
  	cleanAll();
	jQuery('#bandeja-busqueda-mensajes').siblings().hide();
	var term = jQuery('#search-text-input').val();
	jQuery('#bandeja-busqueda-mensajes').show().load('/buzon/buscarMensaje?busqueda='+term);
	jQuery('#leerMensaje-busqueda').hide();
});

jQuery('.eliminar').click(function() {
	var id = jQuery(this).attr("data-id");
	var mensaje = jQuery('#mensaje-leer-'+id).serializeObject();
	jQuery.postJSON("/buzon/eliminarMensaje", mensaje, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
			//aqui se manejan los errores, ustedes los imprimen como quieran y donde quieran, esto
			//es solo un ejemplo de lo que se puede hacer con esto
		  	if(typeof data["remitente.invalid"] != 'undefined')
			  	jQuery('#del_remitente').show().html(data["remitente.invalid"]);
		  	if(typeof data["receptor.invalid"] != 'undefined')
			  	jQuery('#del_receptor').show().html(data["receptor.invalid"]);
			if(typeof data["eliminarMensaje.invalid"] != 'undefined')
			  	jQuery('#del_eliminarMensaje').show().html(data["eliminarMensaje.invalid"]);
			if(typeof data["fecha.invalid"] != 'undefined')
			  	jQuery('#del_fecha').show().html(data["fecha.invalid"]);
		}else{
			if(data["error"] == 'true')
			  	jQuery('#del_mensaje').show().html("Error al eliminar el mensaje");
			 else{
				//aqui se recibe todo en caso de exito, tambien se puede hacer lo que se desee
				jQuery('#del_mensaje').show().html("Tu mensaje ha sido eliminado correctamente.");
				jQuery('#imensaje-'+id).hide();
			}
		}
	});
	
	var mod = jQuery(this).attr('modal');

	//Get the screen height and width
	var maskHeight = jQuery(document).height();
	var maskWidth = jQuery(window).width();

	//Set heigth and width to mask to fill up the whole screen
	jQuery('#mask').css({'width':maskWidth,'height':maskHeight});
	
	//transition effect		
	jQuery('#mask').fadeIn(1000);	
	jQuery('#mask').fadeTo("slow",0.8);	

	//Get the window height and width
	var winH = jQuery(window).height();
	var winW = jQuery(window).width();
          
	//Set the popup window to center
	jQuery(mod).css('top',  winH/2-jQuery(mod).height()/2);
	jQuery(mod).css('left', winW/2-jQuery(mod).width()/2);

	//transition effect
	jQuery(mod).fadeIn(1000); 
    //location.reload();

});

jQuery('#responder').click(function() {
  cleanAllErrors();
  jQuery('#responder-mensaje-box').show('fast', function() {
  	var asunto = jQuery('#titulo').text();
  	var mensaje = jQuery('#mensaje-final').text();
  	var fecha = jQuery('#fecha').text();
  	var autor = jQuery('#usuarioEmisor').text();
  	jQuery('#asunto-respuesta').val('[RE:] '+asunto);
  	var anteponer = 'A las '+fecha+' '+autor+' dijo:\n';
  	jQuery('#mensaje-respuesta').val('\n\n'+anteponer+'\n>'+mensaje);
  });
});


jQuery("#responder-mensaje").submit(function() {
	var mensaje = jQuery(this).serializeObject();
	
	jQuery.postJSON("/buzon/enviarMensaje", mensaje, function(data) {
		if(typeof data["errores.exist"] != 'undefined'){
		  if(typeof data["receptor.required"] != 'undefined')
			  	jQuery('#err-respuesta-receptor').show().html(data["receptor.required"]);
		  if(typeof data["asunto.required"] != 'undefined')
			  	jQuery('#err-respuesta-asunto').show().html(data["asunto.required"]);
		  if(typeof data["mensaje.required"] != 'undefined')
			  	jQuery('#err-respuesta-mensaje').show().html(data["mensaje.required"]);
		}else{
			if(data.flag == "true"){
				alert("Tu mensaje ha sido enviado con exito");
				window.location.replace("/buzon");
			}
			else
				alert("Ha ocurrido un error al enviar el mensaje. Intentalo nuevamente.");
		}
	});
	return false;				
});

jQuery(document).ready(function() {	

	//if close button is clicked
	jQuery('.window .close').click(function (e) {
		//Cancel the link behavior
		e.preventDefault();
		
		jQuery('#mask').hide();
		jQuery('.window').hide();
	});		
	
	//if mask is clicked
	jQuery('#mask').click(function () {
		jQuery(this).hide();
		jQuery('.window').hide();
	});			
	
});
</script> 


<script type="text/javascript">
jQuery(document).ready(function() {
    jQuery("#receptores").tokenInput("/contactos/autocomplete", {
        minChars: 1,
        theme: "facebook",
        preventDuplicates: true,
        searchingText: "Buscando",
        hintText: "Escribe el nombre de algun contacto",
    });
	
	$("#mark-all").click(function(){
		var checked_status = this.checked;
		$("input[data-id=mensaje-checkbox-all]").each(function(){
			this.checked = checked_status;
		});
	});
	
	$("#mark-read").click(function(){
		$("input[class=mensaje-checkbox-read]").each(function(){
			 if ($(this).is(':checked')) {
			 	$(this).removeAttr('checked');  
            }
            else {
                $(this).attr('checked',true);    
            }

			//this.checked = checked_status;
		});
	});
	
	$("#mark-unread").click(function(){
		$("input[class=mensaje-checkbox-unread]").each(function(){
			 if ($(this).is(':checked')) {
			 	$(this).removeAttr('checked');  
            }
            else {
                $(this).attr('checked',true);    
            }

			//this.checked = checked_status;
		});
	});
	
	$('#eliminar-multiples').click(function(){
		$('input[name=id_eliminar]:checked').each(function(){
            var id = $(this).val();
			var mensaje = $('#mensaje-leer-'+id).serializeObject();
        	jQuery.postJSON("/buzon/eliminarMensaje", mensaje, function(data) {
        		if(typeof data["errores.exist"] != 'undefined'){
					alert('Ha ocurrido un error al eliminar el mensaje n&uacute;mero '+id);
        		}else{
        			if(data["error"] == 'true')
        			  	alert('Ha ocurrido un error al eliminar el mensaje n&uacute;mero '+id);
        		}
        	});
        });
		alert('Se han eliminado los mensajes seleccionados.');
		window.location.replace("/buzon");
	});
});
</script>
	