<div class="responder-message1 " style="width:600px;">Enviar Mensaje</div>
<div class="deco-buzon" style="margin-top:10px; border-right:5px solid #049CC6; height:350px;">
<form name="enviarMensaje" id="mensaje-contacto" style="width:600px;">
	<div class="responder-message" style="background:white;font-size:11px;width:350px;">
		<p>Para: $nombreUsuario</p>
		<input type="hidden" id="receptores" name="receptores" value="$userId">
	</div>									
	<p style="display:none;color:red;font-size:12px;width:100%;text-align:left;margin:15px 0px 5px 15px;" id="err-envio-receptor" class="err-envio"></p>
	<div class="responder-message" style="background:white;width:350px;">
		<p>Asunto:</p><input type="text" name="asunto" style="width:510px;border:1px solid #8496BA;color:#666666;">
	</div>							
	<p style="display:none;color:red;font-size:12px;width:100%;text-align:left;margin:15px 0px 0px 15px;" id="err-envio-asunto" class="err-envio"></p>
	<p style="font-size:14px;font-weight: bold;text-align:left;color:#666666;padding:8px 0px 0px 15px;">Mensaje:</p>
	<div style="height:150px;"><textarea name="mensaje" style="margin-left:15px; width:86%; height:95%;color:#666666;"></textarea></div>
	<p style="display:none;color:red;font-size:12px;width:100%;text-align:left;margin:2px 0px 0px 15px;" id="err-envio-mensaje" class="err-envio"></p>
	<input type="button" id="cancelar-envio-contacto" name="cancelar-envio-contacto" value="Cancelar" class="blue_btn boton-enviar" style="margin-right:68px; padding:5px;" >                                       	
	<input type="submit" name="enviar" value="Enviar"class="blue_btn boton-enviar" style="margin-right:15px; padding:5px;">
</form>
 </div>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery("#mensaje-contacto").submit(function() {
    	var mensaje = jQuery(this).serializeObject();
    	
    	jQuery.postJSON("/buzon/enviarMensaje", mensaje, function(data) {
    		if(typeof data["errores.exist"] != 'undefined'){
    		  if(typeof data["receptor.required"] != 'undefined')
    			  	jQuery('#err-envio-receptor').show().html(data["receptor.required"]);
    		  if(typeof data["asunto.required"] != 'undefined')
    			  	jQuery('#err-envio-asunto').show().html(data["asunto.required"]);
    		  if(typeof data["mensaje.required"] != 'undefined')
    			  	jQuery('#err-envio-mensaje').show().html(data["mensaje.required"]);
    		  jQuery('#enviar-mensaje').height(480);
    		  jQuery('#enviarMensaje').height(425);
    		}else{
    			if(data.flag == "true"){
    				alert("Tu mensaje ha sido enviado con exito");
    				jQuery.fancybox.close();
    			}
    			else
    				alert("Ha ocurrido un error al enviar el mensaje. Intentalo nuevamente.");
    		}
    	});
		return false;				
	});
	
	jQuery('#cancelar-envio-contacto').click(function(){
		jQuery.fancybox.close();
	});
});
</script>