<!-- Cuerpo de la pagina -->
<div class="content-body2" style="background:#EFF2F7; height:520px;">	
	<div class="search-page-input" id="search-input2">
		<input type="text" size="40" id="search-text-input2" style="border:1px solid #d1d1d1; width:460px; cursor:text; margin-left:15px;" value="Buscar grupos">
		<a id="buscar-submit2" ><img src="/resources/img/lupa.png" width="13" alt="x" style="margin-top:5px; margin-left:-20px; cursor:pointer; position:relative;"/></a>			
	</div>
	<script type="text/javascript">
	$('#search-text-input2').focus(function(){
		if($('#search-text-input2').val() == "Buscar grupos"){
			$('#search-text-input2').val("");
		}
		$('#search-text-input2').css("color","#000000");
	});	
	
	$('#search-text-input2').blur(function(){
		if($('#search-text-input2').val() == ""){
			$('#search-text-input2').val("Buscar grupos");
		}
		$('#search-text-input2').css("color","#999999");
	});
	$("#buscar-submit2").click(function(){
		var cadena = $("#search-text-input2").val();
		$("#buscar-submit2").attr("href","/grupos/buscar?cadena=" + cadena);
	});
	jQuery("#buscar-submit2").fancybox({
		'overlayShow'	:	false
	});
	</script>
	<!-- Resultado de la busqueda -->	
	<div style="border: 1px solid #D1D1D1; width:510px; margin-left:45px; background-color:#FFFFFF;">
		<div class="title" style="margin-left:10px;">Resultados de la B&uacute;squeda ($resultados.size())</div>
		<div class="side-bar2" style="margin-left:15px; width: 480px; height:390px; overflow-y:scroll; background-color:#FFFFFF;">
			<style>
				#personas{
					list-style-type: none;
				}
				#personas li{
					width:450px;height:60px; padding:3px;
				}
				.decoration img {
		        	padding: 4px;
		        	border: 1px solid white;
		        }
		        
		        .decoration h3 {
		        	margin: 0 auto;
		        	color: #0B3762;
		        	font-size: 14px;
		        	cursor: pointer;
		        }
		        .decoration h4 {
		        	margin: 0 auto;
		        	color: #666;
		        	font-size: 12px;
		        	cursor: text;
		        }
		        .decoration h5 {
		        	margin: 0 auto;
		        	color: #666;
		        	font-size: 10px;
		        	cursor: text;
		        }
		        .decoration h5:hover,.decoration h4:hover,.decoration h3:hover{
		        	color:#0B3762;
		        }
		        
		        .decoration:hover {
		        	background: #EFF2F7;        
		        }
		        
		        .decoration:hover img{border: 1px solid #999;}
		        .decoration img:hover {
		        	border-color:#1061a1;
		        	border-style: solid; 
		        	border-width: 1px;
		        	-moz-box-shadow:  0 0 2px #2398b9;
		        	-webkit-box-shadow: 0 0 2px #2398b9;
		        	box-shadow: 0 0 2px #2398b9;
		        }
			</style>
			<ul id="personas">
			#foreach($resultado in $resultados)
				<li class="decoration" onclick="location.href='/grupos/perfilgrupo?id=$resultado.id'" style="cursor:pointer;">
	    				<div style="float:left;width:23%; cursor:pointer;">
	    					<img src="/resources/img/def_av.gif" width="50" alt="sin imagen">
	    				</div>
	    				<div style="float:left;margin-top:20px;margin-left:5px;width:75%; cursor:pointer;">
	        				<h3><a style="color:#1061A1;font-size:14px;cursor:pointer;font-style:uppercase;" class="contacto-ver" href="/grupos/perfilgrupo?id=$resultado.id">$resultado.nombre</a></h3>
	        			</div>
	    		</li>
			#end
			</ul>
		</div>
	</div>
</div>