#parse( "common/header_final.vm" )
#parse( "jsStartup/grupos.vm" )
  <div class="content-body box-decoration" style="background:#EFF2F7;">
	   	
   	   #parse( "/grupos/lateral.vm" )	   
	     <div class="box-panel">
			<a href="#" >
		<img  style="margin-top:-10px; margin-left:0px;" src="/resources/img/psu.jpg"  width="180" alt="x"/></a>
			</div>
	   </div>
	   <div class="container-big-right "style="min-height:760px;">  
	   	
     <div id="Topbuzon">			
    			<ul id="Topbuzonlinks">
    				<li style="width:100px; border-right:0px solid #88BB22;">
    				<input type="text" name="search-text-input" id="search-text-input" value="Buscar grupos" class="buscar-grupos" style="color:#999999; width:140px; border:1px solid #d1d1d1; margin-left:485px; margin-top:-3px;margin-bottom:0px;" />
    				</li>
    				<a id="buscar-submit"><img style="position:relative; margin-top:5px; left:505px;  cursor:pointer;" src="/resources/img/lupa.png" width="13" alt="x"/></a>						
    			</ul>
    </div>
<!-- DIV QUE CONTIENE LOS GRUPOS DE UN USUARIO -->
<div id="misGrupos">
	<div id="crear-grupo" style="display:none;"></div>
	<div id="vista-grupos">
		<h1 style="margin-left:240px; padding:10px; color: #1061A1;">Grupos populares</h1>
		#foreach($grupo in $populares)
		<div class="detail-grupo" style="width:95%;margin-left:10px;">
			<table id="$grupo.id" summary="grupo" width="98%">
				<tbody>
					
					<tr>
						<td width="80%"><a href="perfilgrupo?id=$grupo.id" class="ver" data-id="$grupo.id" > $grupo.nombre </a></td>
						<td width="20%"><h2>$grupo.tipoGrupoExAlumnos.nombre</h2></td>							
						
					</tr>
					
					
					<tr>
						<td width="80%">$grupo.descripcion</td>
						<td width="20%"></td>
						
					</tr>
					
				</tbody>
			</table>
			</div>
		#end
	</div>
	
	<p style="margin:15px 0px 8px 10px;font-size:12px; color:#666666;">
		P&aacute;gina(s): 					
		#foreach($pag in [1..$cantidadPaginas])
			<span style="margin-left:5px;">
				#if($paginaActual != $pag)
					<a href="/grupos/directorio?p=$pag">$pag</a>
				#else
					$pag
				#end
			</span>
		#end
		<span style="float:right;margin-right:10px;color:#666666;">Mostrando $inicioPagina - $finalPagina grupos(s) de $totalGrupos</span>
	</p>
</div>
	
<!-- FIN DIV MIS GRUPOS -->


<!-- DIV VER GRUPO -->
<div id="verGrupo" style="display:none;">
</div>
<!-- FIN DIV VER GRUPO -->

<!-- DIV MIEMBROS GRUPO -->
<div id="miembrosGrupo" style="display:none;">
</div>
<!-- FIN DIV MIEMBROS GRUPO -->

<!-- DIV DISCUSIONES GRUPO -->
<div id="discusionesGrupo" style="display:none;">
</div>
<!-- FIN DIV DISCUSIONES GRUPO -->
</div></div></div>
#parse( "common/footer_final.vm" )  

<!-- CODIGO JQUERY -->
<script type="text/javascript">	
jQuery('.ver').click(function() {
	jQuery('.menu-grupo').show();
	var id = jQuery(this).attr("data-id");
	jQuery('#ver-perfil').attr("data-id", id);
	jQuery('#miembros').attr("data-id", id);
	jQuery('#discusiones').attr("data-id", id);
	jQuery('#mensaje-all').attr("data-id", id);
});		

jQuery('#miembros').click(function() {
	var id = jQuery(this).attr("data-id");
  	jQuery('#verGrupo').hide('800', function() {
  		jQuery('#miembrosGrupo').show().load('/grupos/perfilgrupo/miembros?id='+id);
  	});
});

jQuery('#discusiones').click(function() {
	var id = jQuery(this).attr("data-id");
  	jQuery('#verGrupo').hide('800', function() {
  		jQuery('#discusionesGrupo').show().load('/grupos/discusiones?gid='+id);
  	});
});		

jQuery('#ver-perfil').click(function() {
	var id = jQuery(this).attr("data-id");
  	jQuery('#miembrosGrupo').hide('800', function() {
  		jQuery('#verGrupo').show().load('/grupos/perfilgrupo?id='+id);
  	});
});	

jQuery('.button-crear-grupo').click(function() {
  	jQuery('#vista-grupos').hide('800', function() {
  		jQuery('#crear-grupo').show().load('/grupos/crearGrupo');
  	});
});	

jQuery('#volver').click(function() {
  jQuery('#verGrupo').hide('800', function() {
    jQuery('#verGrupo').html('');
    jQuery('#miembrosGrupo').html('');
  	jQuery('#misGrupos').show();
  	jQuery('#volver').hide();
  	jQuery('.menu-grupo').hide();
  });
});

</script> 
<script type="text/javascript">
    			$('#search-text-input').focus(function(){
					if($('#search-text-input').val() == "Buscar grupos"){
						$('#search-text-input').val("");
					}
					$('#search-text-input').css("color","#666666");
				});	
				
				$('#search-text-input').blur(function(){
					if($('#search-text-input').val() == ""){
						$('#search-text-input').val("Buscar grupos");
					}
					$('#search-text-input').css("color","#666666");
				});
				$("#buscar-submit").click(function(){
					var cadena = $("#search-text-input").val();
					$("#buscar-submit").attr("href","/grupos/buscar?cadena=" + cadena);
				});
				jQuery("#buscar-submit").fancybox({
					'overlayShow'	:	false
				});
		    </script>
