 <!-- Inicio  barra lateral izquieda -->
	   
	   <div class="container-small-left" style="min-height:760px;margin-bottom:50px;">
	   <div class="box-panel" style="margin-left:10px;min-height:200px;">	   	
	   <div id="mensajes-nav">
                	<ul>
                    	<li class="busqueda-nav">Grupos</li>
                        <li class="redactar-nav">
                        	<a href="/grupos/crearGrupo" class="button-crear-grupo"><em>Crear Grupo</em></a>
                        </li>
                        <li>
                        	<a href="/grupos" id="enlace-misgrupos" >Mis Grupos</a>
                        </li>
                        <li >
                        	<a href="/grupos/directorio" id="enlace-directorio">Directorio</a>
                        </li>
                        <li class="fin"></li>
                	</ul>
                </div>
	   </div>