<div class="menu-grupo deco-grupo" style=" border-bottom:5px solid #049CC6; margin-top:1px; margin-left:10px;" id="Topbuzon">			
	<ul id="Topbuzonlinks">
		#if($miembro || $membresia)
			#if($solicitante)
			#else
				<li style="margin-left:3px; width:70px;"><a style="font-size:11px;"href="/grupos/perfilgrupo?id=$grupo.id" id="ver-perfil">Perfil Grupo </a></li>		
				<li style="width:95px;"><a style="font-size:11px;"href="/grupos/perfilgrupo/miembros?id=$grupo.id" id="miembros">Miembros Grupo </a></li>
				<li style="width:65px;"><a style="font-size:11px;"href="/grupos/discusiones?gid=$grupo.id" id="discusiones">Discusiones </a></li>
				<li style="width:50px;"><a style="font-size:11px;"href="/grupos/eventos?id=$grupo.id" id="eventos" >Eventos</a></li>
				<li style="width:85px;"><a style="font-size:11px;"href="/grupos/perfilgrupo/mensaje?id=$grupo.id" id="mensaje-all">Enviar mensaje </a></li>
			#end
		#end
		<a id="buscar-submit"><img style="margin-right:50px;float:right; cursor:pointer; position:relative; top:5px;z-index:250;" src="/resources/img/lupa.png" width="11" alt="x"/></a>
		<li style="width:100px; border-right:0px solid #88BB22; float:right;margin-right:-10px;">
			<input type="text" name="search-input" id="search-text-input" value="Buscar grupos" class="buscar-grupos"   style="color:#999999; width:110px;border:1px solid #d1d1d1;margin-left:-3px;margin-top:-3px;position:relative;" >
		</li>
																	  
	</ul>

</div>
<script type="text/javascript">
jQuery(document).ready(function() {
	jQuery("a#mensaje-all").fancybox({
		'overlayShow'	:	false
	});
});
$('#search-text-input').focus(function(){
		if($('#search-text-input').val() == "Buscar grupos"){
			$('#search-text-input').val("");
		}
		$('#search-text-input').css("color","#000000");
	});	
	
	$('#search-text-input').blur(function(){
		if($('#search-text-input').val() == ""){
			$('#search-text-input').val("Buscar grupos");
		}
		$('#search-text-input').css("color","#999999");
	});
	$("#buscar-submit").click(function(){
		var cadena = $("#search-text-input").val();
		$("#buscar-submit").attr("href","/grupos/buscar?cadena=" + cadena);
	});
	jQuery("#buscar-submit").fancybox({
		'overlayShow'	:	false
	});
</script>