#parse( "common/header_final.vm" )
#parse( "jsStartup/grupos.vm" )

	<div class="content-body box-decoration" style="background:#EFF2F7;">
	 	#parse( "/grupos/lateral.vm" )	   
    	    <div class="box-panel">
    			<a href="http://tv.sansanos.cl/" >
    			<img  style="margin-top:-15px; margin-left:0px;" src="/resources/img/sansanostv.jpg"  width="178" alt="x"/></a>
    		</div>
	    </div>
	    
		<div class="container-big-right "style="min-height:760px;">  
	   	#parse("/grupos/menuGrupo.vm")	
   	  		<div id="perfilGrupo" style="margin-left:10px;">				
				
				#if($grupo.invalid && $grupo.invalid == "true")
					<p class="no-data">No existe este grupo.</p>
				#end
	
				#if($grupoNoExiste)
					<p class="no-data">No existe este grupo.</p>
				#end
				
				#if($permisos)
					<h1 style="margin-top:50px;">$grupo.nombre</h1>
					<p class="no-data">No tienes los permisos para ver este grupo.</p>
					
					#if($solicitante)
						<p class="no-data">	Solicitud de membres&iacute;a en espera de aceptaci&oacute;n.</p>				
					#else	
						<form type="POST" id="solicitud-membresia">
							<input type="hidden" value="$grupo.id" id="grupo-id">
							<input type="submit" class="blue_btn crear-grupo-boton" value="Solicitar unirse al grupo" style="font-weight:bold; margin-right:250px; margin-top:10px; padding:5px;" >						
						</form>
			
            			<script type="text/javascript">
							jQuery("#solicitud-membresia").submit(function() {
								var grupo = $("#grupo-id").val();
								
								jQuery.postJSON("/grupos/solicitar", grupo, function(data) {
									if(data.flag == "true"){
											alert("Solicitud enviada exitosamente");
											window.location.replace("/grupos/perfilgrupo?id=" + grupo);
									}
								});
								return false;				
							});
                      </script>
					#end
				#end
	
	
		#if($grupo && !$permisos)
	
			<div class="detail-mensaje-box title-discusion" style="margin-left:0px;">$grupo.nombre
				
				#if($membresia)
				
				#else
					<a href="/grupos/unirseGrupo?gid=$grupo.id" id="solicitud-grupo" style="float:right;"><input type="submit" class="blue_btn crear-grupo-boton" value="Solicitar unirse al grupo" style="font-weight:bold; margin-right:0px;padding:5px;" >	</a>
			
        			<script type="text/javascript">
                    jQuery("#solicitud-grupo").fancybox();
                  </script>
				#end
				
				#if($solicitudes > 0)
					<script type="text/javascript">
						$(document).ready(function() {
							$("a#mostrar-lista").fancybox();
						});
					</script>
					<div id="mostrar-lista" style="float:right;font-size:12px; font-style:italic;"><a id="mostrar-lista" href="#lista-solicitudes" >Solicitudes: $!solicitudes</a></div>
					
				#end
			</div>	
			
			<div class="perfil-grupo-box" id="$grupo.id" summary="grupo"> 
				
				<fieldset class="fieldset-perfil" style="border:1px solid #d1d1d1; width:150px; height:150px; " >		
				<img src="$grupo.foto" width="150" height="150">
				</fieldset>
								
				<div class="box-detail-grupo"style="width:170px; margin-top:25px;">
				 Categor&iacute;a: <p>$grupo.tipoGrupoExAlumnos.nombre</p>
				</div>					
				
				<div class="box-detail-grupo"style="width:200px;margin-top:25px; ">
				 Administrador: 
				 <p>
				 	#if($grupo.usuarioEncargado)
				 	  $grupo.usuarioEncargado.getNombreCompleto()
				 	#else
				 	  Red de exalumnos - UTFSM
				 	#end
				 </p>
				</div> 
				
				<div class="box-detail-grupo"style="width:170px; ">
				 Integrantes: <p id= "verIntegrantes" href="/grupos/perfilgrupo/miembros?id=$grupo.id" class ="ver" >$grupo.integrantes</p>
				</div> 
				
				<div class="box-detail-grupo" style="width:170px; ">
					 Privacidad: 
				 	#if($grupo.permisos == 0)
							<p>Solo miembros</p>	
						#else
							<p>P&uacute;blica</p>
						#end 
				</div> 
		
		
				<fieldset class="fieldset-perfil descripcion-box" >
					<legend align="left" style="font-size:12px;">Descripci&oacute;n</legend>
					<div style="overflow:hidden;"><p style="color:#666666;">$grupo.descripcion</p></div>
				</fieldset>
		
				
		</div>	
		#end
	</div>
	<div class="box-right box-appear1 box-inf">
	<div id="lista-solicitudes" name="lista-solicitudes">
		<div style="border: 1px solid #D1D1D1; width:510px; background-color:#FFFFFF;">
			<div class="side-bar2" style="margin-left:15px; width: 480px; height:290px; overflow-y:scroll; background-color:#FFFFFF;">
				<style>
					#personas{
						list-style-type: none;
					}
					#personas li{
						width:450px;height:60px; padding:3px;
					}
					.decoration img {
			        	padding: 4px;
			        	border: 1px solid white;
			        }
			        
			        .decoration h3 {
			        	margin: 0 auto;
			        	color: #0B3762;
			        	font-size: 14px;
			        	cursor: pointer;
			        }
			        .decoration h4 {
			        	margin: 0 auto;
			        	color: #666;
			        	font-size: 12px;
			        	cursor: text;
			        }
			        .decoration h5 {
			        	margin: 0 auto;
			        	color: #666;
			        	font-size: 10px;
			        	cursor: text;
			        }
			        .decoration h5:hover,.decoration h4:hover,.decoration h3:hover{
			        	color:#0B3762;
			        }
			        
			        .decoration:hover {
			        	background: #EFF2F7;        
			        }
			        
			        .decoration:hover img{border: 1px solid #999;}
			        .decoration img:hover {
			        	border-color:#0B3762;
			        	border-style: solid; 
			        	border-width: 1px;
			        	-moz-box-shadow:  0 0 2px #2398b9;
			        	-webkit-box-shadow: 0 0 2px #2398b9;
			        	box-shadow: 0 0 2px #2398b9;
			        }
				</style>
				<ul id="personas">
					#foreach($solicitud in $listaSolicitudes)
					<li class="decoration" id="usuario-$solicitud.usuarioAexa.id">
		    				<div style="float:left;width:15%; cursor:pointer;" onclick="location.href='/perfil?uid=$solicitud.getUsuarioAexa().getId()'">
		    					<img src="/resources/img/def_av.gif" width="50" alt="sin imagen">
		    				</div>
		    				<div style="float:left;margin-top:20px;margin-left:5px;width:50%; cursor:pointer;" onclick="location.href='/perfil?uid=$solicitud.getUsuarioAexa().getId()'">
		        				<h3><a style="color:#0B3762;font-size:14px;cursor:pointer;" class="contacto-ver" href="/perfil?uid=$solicitud.getUsuarioAexa().getId()">$solicitud.getUsuarioAexa().getNombreCompleto()<br></a></h3>
		        				<a href="#"><h4>$!solicitud.getUsuarioAexa().titulo.sedeCarrera.nombre</h4></a>
		            			<a href="#"><h5>$!solicitud.getUsuarioAexa().laboralActual.sucursalEmpresa.empresa.nombre</h5></a>
		    				</div>
		    				<div style="float:right;width:30%; position:relative; top:15px;">
								<form class="aceptar-solicitud" data="$solicitud.usuarioAexa.id">
									<input type="hidden" name="idUsuario" value="$solicitud.usuarioAexa.id">
									<input type="hidden" name="idGrupo" value="$solicitud.grupoExAlumnos.id">
									<input type="submit" id="aceptar-solicitud" value="Aceptar" class="blue_btn" style="float:left;">
								</form>
								
								<form class="rechazar-solicitud" data="$solicitud.usuarioAexa.id">
									<input type="hidden" name="idUsuario" value="$solicitud.usuarioAexa.id">
									<input type="hidden" name="idGrupo" value="$solicitud.grupoExAlumnos.id">
									<input type="hidden" name="rechazar" value="true">
									<input type="submit" id="rechazar-solicitud" value="Rechazar" class="blue_btn" style="float:left;">
								</form>
								
							</div>
							<p id="e_miembro" style="display:none;"></p>
		    		</li>
				#end
				</ul>
			</div>
		</div>
	</div>
	</div>
	
	</div></div></div>
#parse( "common/footer_final.vm" ) 
		<script type="text/javascript">
			jQuery(document).ready(function() {
				jQuery("p#verIntegrantes").fancybox({
					'overlayShow'	:	false
				});
			});
		</script>
<script type="text/javascript">
    jQuery(document).ready(function() {
    	jQuery(".aceptar-solicitud").submit(function() {
    		var id = jQuery(this).attr('data');
			var solicitud = jQuery(this).serializeObject();                  	
    		jQuery.postJSON("/grupos/solicitudes/aceptar", solicitud, function(data) {
    			if(typeof data["errores.exist"] != 'undefined'){
    			  if(typeof data["miembro.invalid"] != 'undefined')
    				  	jQuery('#e_miembro').show().html(data["miembro.invalid"]);
    			}else{
    				if(data.flag == "true"){
    					alert("Se ha aceptado al usuario correctamente.");
    					jQuery('#usuario-'+id).hide();
    				}
    				else
    					alert("ha ocurrido un error, intentalo mas tarde");
    			}
			});
			return false;				
		});
		
		jQuery(".rechazar-solicitud").submit(function() {
    		var id = jQuery(this).attr('data');
			var solicitud = jQuery(this).serializeObject();                  	
    		jQuery.postJSON("/grupos/solicitudes/aceptar", solicitud, function(data) {
    			if(typeof data["errores.exist"] != 'undefined'){
    			  if(typeof data["miembro.invalid"] != 'undefined')
    				  	jQuery('#e_miembro').show().html(data["miembro.invalid"]);
    			}else{
    				if(data.flag == "true"){
    					alert("Se ha rechazado al usuario correctamente.");
    					jQuery('#usuario-'+id).hide();
    				}
    				else
    					alert("ha ocurrido un error, intentalo mas tarde");
    			}
			});
			return false;				
		});
    });  		
</script>